[2018-09-20 06:57] igorescobar opened #4 "ImageBoss Integration?"
Hey guys,

Question - how would be the best way to integrate https://ImageBoss.me and vapid?

Thanks!

[2018-09-20 07:05] thgh opened #5 "Cannot exit when port in use"
I couldn't close the program with Ctrl+C

Possible solution: https://github.com/Rich-Harris/port-authority

[code]

[2018-09-20 08:10] walidvb opened #6 "Multiple fields"
Wondering how to add multiple images to a single section?
Pointers to where that should be changed are appreciated, would love to take a look when i find a moment if it's not a priority! From what I quickly gathered:

 - update `BaseDirective.input` to allow an 'Add more' button
 - update `BaseDirective.serialize` to return an array of values if multiple inputs

awesome job on the rest, and awesom

[2018-09-20 11:09] janpio opened #7 "Default site template headline looks strange by default on wide monitors"
Win 10, FF62:
![image](https://user-images.githubusercontent.com/183673/45814499-18ce5a00-bcd6-11e8-84fc-58a5a9a5e012.png)

Just changed "greeting" to `...`.

Looks ok up until ~1390 width, then the main headline stays at the same position instead of staying centered.

[2018-09-20 12:53] DenVrede opened #8 "Feature Request: Deactivate Items"
It would be a nice if one could deactivate items (e.g. separate offices) so that the content is not lost but it won't be displayed on the frontend.

[2018-09-20 15:34] stursby opened #9 "Feature Request: CLI build static site"
Would it be possible to add something like `vapid build .` to generate the static site? Currently, it looks like you can only deploy via the Vapid hosting.

I see there's a [Builder Class](https://github.com/vapid/vapid/blob/9937092ed98609d7e4532c62c774ea7ef2231646/lib/builder.js) but not sure how to implement it. Any ideas/thoughts would be much appreciated.

Thanks for the cool project!

[2018-09-20 15:50] stursby commented on #9
Is something like this going in the right direction? Or should I be looking at `Generate` instead of `Build`?? 🤔

[code]

[2018-09-20 18:15] seanwash commented on #4
@igorescobar Seems like the easiest way would be to prepend your uploaded image urls with the imageboss url and params: https://imageboss.me/docs. You'd also want to make sure that when you use create the template tag that you set the `tag` param to false so that you get a url back instead of a full image tag: https://docs.vapid.com/content-types#image.

I haven't tested it, but maybe something li

[2018-09-20 18:29] LoganDark commented on #8
Just have each office have a hidden checkbox. Put the contents of the section in `{{#unless invisible}}` or something.

Disclaimer: I have not tried Vapid yet.

[2018-09-20 19:08] sushaantu commented on #7
It's a simple fix though. Just give "margin: 0 auto;" to .header h1 on line 95 of site.css

[2018-09-20 23:04] trst opened #11 "Adding to the webpack build chain"
Would you consider offering the ability to add packages to augment the build process for a project? For example, say I needed postcss features for a particular site I'm developing, or image compression, it would be cool if the developer could `npm install` the requisite packages and have those update the Vapid's build process.

Perhaps, allow developers to create vapid specific packages that depen

[2018-09-20 23:12] bearinsun opened #12 "Nested sections in dashboard"
Is it possible to have nested sections in the dashboard?

For example, say there is an `index.html` file which specifies a root section with the name "index." Currently, this would generate a page in the dashboard called "Index," with all child sections also receiving their own page in the dashboard. Could Vapid instead generate children/sub sections inside of the root "index" page of the dashboar

[2018-09-21 00:34] zetalevel opened #13 "Can't install"
`yerkes@zetapc:~$ node -v
v8.12.0
yerkes@zetapc:~$ npm -v
6.4.1

yerkes@zetapc:~$ sudo npm install -g vapid-cli

npm WARN deprecated browserslist@1.7.7: Browserslist 2 could fail on reading Browserslist >3.0 config used in other tools.
npm WARN deprecated @types/commander@2.12.2: This is a stub types definition for commander (https://github.com/tj/commander.js). commander provides its own type def

[2018-09-21 01:51] trst commented on #13
Are you able to update to the most recent stable version of Node (v10.11.0)? I was on the LTS and had trouble but updating node or using nvm might alleviate that issue.

It is worth considering making Vapid compatible with a wider range of Node versions, particularly the most recent LTS.

[2018-09-21 01:53] trst commented on #12
I tried the same thing earlier and ran into the same error. I do think this would be helpful for organising the sections of Vapid's backend but is there any other particular reasons for nesting beyond that?

I am asking honestly, it's been a long day 😆

[2018-09-21 02:04] trst commented on #9
It would be doubly awesome to have a way to generate a static site from the dashboard interface as well.

[2018-09-21 02:12] pschfr opened #14 "Feature Request: Multiple accounts"
This could make it easier to allow clients to only modify certain values in the future

[2018-09-21 02:21] pschfr opened #15 "Feature Request: Minified assets"
It would be cool if we could have minified versions of the CSS and JS, and perhaps the HTML too

[2018-09-21 02:26] BrujaVudu opened #16 "Deploy to GCP App Engine error"
Locally, it works perfect. But when I deploy it to GCP, I get this error:

In the CGP Console, I get this message:

Any ideas?

[2018-09-21 03:17] Hadr619 commented on #13
Ran into the same issue on Mac and Ubuntu. Updated Node on both machines and no avail

[2018-09-21 06:50] kosmaa opened #17 "More info on deployment"
Maybe it is easy for some, but I have always problems with site deployment of node apps and I appreciate if it was more instructions on the process in DOCS, or more CLI options for it. To see how to do it.
I already tried  Vapid locally (and I love it) and I tried to deploy it on server (failed). So I would love to see more info on how to do it.

[2018-09-21 08:42] jinanjun opened #18 "Cannot find module 'jquery'"
`dashboard.pack.js:1 Uncaught Error: Cannot find module 'jquery'
    at webpackMissingModule (dashboard.pack.js:1)
    at eval (dashboard.pack.js:1)
    at Object.../assets/dashboard/javascripts/dashboard.pack.js (dashboard.js:129)
    at __webpack_require__ (dashboard.js:20)
    at eval (dashboard.pack.js:1)
    at Object.0 (dashboard.js:272)
    at __webpack_require__ (dashboard.js:20)
    at da

[2018-09-21 09:44] Tolc opened #19 "Feature request: internationalization / i18n"
Simple internationalization would be really nice!

Nothing too fancy, just being able to activate languages site-wise, and translate fields in the dashboard.
Marking fields as translatable could be done by adding a 'i18n' attribute to them in the template, or something like that....

[2018-09-21 10:32] tobiasger opened #20 "Error when installing vapid-cli"
I get this error when trying to install vapid-cli through npm:

[code]

Any idea why this is happening?

[2018-09-21 10:36] tobiasger commented on #20
Adding the `--unsafe-perm` fixed it. Like this: `sudo npm install --unsafe-perm vapid-cli -g`.

Maybe this isn't a problem with vapid-cli per se.

[2018-09-21 11:13] bearinsun commented on #12
The main use case for this, although I'm sure there are more that I'm not thinking of, would be for multiple pages.

If a site has "About," "Projects," and "Home" pages, it would be hugely beneficial if each HTML page could represent a tab in the dashboard, with each section on that page acting as a group for related fields inside of that tab.

With this, there's another level of categorization th

[2018-09-21 13:57] asitemade4u opened #21 "problem accessing multiple content using the {{_permalink}} tab"
I get a "Page not found" error.
Attached the record as a screenshot.
Copied the code from the doc example:

`
<ul>
  {{#section offices multiple=true}}
    <li>
      <h5><a href="{{_permalink}}">{{name}}</a></h5>
      {{city}}, {{state}}
    </li>
  {{/section}}
</ul>
`

![selection_001](https://user-images.githubusercontent.com/11460106/45885551-bd0eda00-bd84-11e8-8840-6a755e5dbf7b.png)

![sele

[2018-09-21 14:00] asitemade4u opened #23 "Create a VS Code extension to format code"

[2018-09-21 14:12] asitemade4u opened #24 "Error when reordering records in the dashboard"
Still following the doc.
![image](https://user-images.githubusercontent.com/11460106/45886240-a79aaf80-bd86-11e8-9d7c-746b957fe023.png)

I also lost one record out of three in the process...
Once I also accessed this page (arbitrary.com), for some reason:

![image](https://user-images.githubusercontent.com/11460106/45886314-da44a800-bd86-11e8-93d5-6a96e1c1af5b.png)

[2018-09-21 14:13] asitemade4u commented on #19
+1

[2018-09-21 14:17] DanielRuf opened #25 "Enable CircleCI for pull requests"
It seems CircleCI is currently not enabled for pull requests and so we cna not see if everything is ok when we create a PR.

[2018-09-21 14:22] pjlnmix commented on #18
Had a similar issue... turns out the solution for me was to require jQuery like this in site.pack.js...
[code]

[2018-09-21 14:29] asitemade4u opened #26 "Markdown is not recognized in the html type fields"
I copied and pasted the attached document in the about/body field and I got a text rendering only.
I also tried to drag and drop a *.md file in the editor and the title of the file got input, not its content nor its fully qualified pathway.

[NodeBB+Docker.md.zip](https://github.com/vapid/vapid/files/2405742/NodeBB%2BDocker.md.zip)

![selection_003](https://user-images.githubusercontent.com/114601

[2018-09-21 14:35] KeizerDev commented on #9
This is for me a MUST to use it in production. I want to deploy it to my vps.

[2018-09-21 16:54] kosmaa commented on #21
@asitemade4u  Did you created _offices.html template page in /www folder?
I had the same issue because info about template tage was written below code example and wasnt visible at once.

[2018-09-21 17:21] tdenyer opened #27 "Data doesn't actually get deleted (soft delete)"
I added an image to "Background Image" on General tab, and it showed nicely.
I then chose to delete it via the Dashboard UI.
— But, when I looked in the `vapid.sqlite` file, it is still there, as well as still in the data > uploads folder..

I also added the word "Yo" to "Greeting" text field, and it showed nicely.
I then swapped out `{{vapid label="Greeting"}}` for `{{vapid label="Greeting" requi

[2018-09-21 17:27] pjlnmix opened #29 "Values do not save properly if there are multiple HTML (Ace) fields on the page"
Noticed an issue where values were not saving on a dashboard page with multiple Ace editors (markdown & no editor). Steps to reproduce:

1. Create a template or section that contains multiple `html` type fields with either `markdown` or `false` as the editor
2. Attempt to add values to fields and save
3. Add a value to the last field first
4. save
5. attempt to edit the other fields

This will res

[2018-09-21 18:37] zetalevel commented on #13
Updated Node.js to 10. Vapid won't install:

yerkes@zetapc:~$ sudo npm install -g vapid-cli
npm WARN deprecated browserslist@1.7.7: Browserslist 2 could fail on reading Browserslist >3.0 config used in other tools.
npm WARN deprecated @types/commander@2.12.2: This is a stub types definition for commander (https://github.com/tj/commander.js). commander provides its own type definitions, so you don'

[2018-09-21 18:43] zetalevel commented on #13
Updated to Node 10. Successfully ran vapid install using --unsafe-perm as indicated here: https://github.com/vapid/vapid/issues/20#issuecomment-423489822

[2018-09-21 21:29] asitemade4u commented on #21
My mistake, I had forgotten the "s" in the file name

[2018-09-21 21:29] #21 closed

[2018-09-22 00:52] srobbin commented on #25
@DanielRuf Just saw this after I [commented on your PR](https://github.com/vapid/vapid/pull/22#issuecomment-423704206). I just enabled builds from PRs (I think). Let me know if that does the trick.

[2018-09-22 14:59] luanpiegas opened #30 "sqlite3 must be installed manually"
[code]

[2018-09-22 15:05] luanpiegas commented on #30
Fixed doind this:

https://github.com/zeit/pkg/issues/264#issuecomment-338148771

[2018-09-22 15:05] #30 closed

[2018-09-22 18:16] #7 closed

[2018-09-22 20:30] kevinruby commented on #20
On OSX I fixed it with the following cmds:

`sudo chown -R yourname ~/.npm`
`sudo chown -R yourname /usr/local/lib/node_modules`

This error isn't a related problem with vapid-cli.

[2018-09-22 20:42] kevinruby opened #31 "Feature request: form action customisation"
It would be nice to have the possibility to change the email form action to another one (custom form endpoint) than Formspree.

Added in a "general settings" section in the dashboard.

Vapid it's a very nice project, thank you!

[2018-09-23 00:32] srobbin commented on #26
@asitemade4u Just to clarify, is the issue:

1. You enabled Markdown in your about field (e.g. `{{about type=html editor=markdown}}`), and it didn't work.
2. You used the standard HTML tag (e.g. `{{about type=html}}`), and expected Markdown to render when inputted into the WYSIWYG.

Re: drag n' drop, it's not enabled for the editors currently, but that sounds like a useful feature.

[2018-09-23 03:27] srobbin commented on #9
@stursby:  Thanks for bringing this up. Answers inline (slightly reordered):

True, `vapid deploy` posts to the Vapid hosting service, but you can definitely host Vapid elsewhere, like Heroku or any service that supports Node.js. So in that sense, you can deploy anywhere.

Would it be helpful if Vapid let you override `vapid deploy` so that it acted as some sort of alias to an NPM script? e.g. If

[2018-09-23 04:51] baslie opened #32 "CMS for blog?"
Hi! While reading docs I didn't understand is Vapid is suitable as a blog system with multiple pages and posts?

[2018-09-23 06:39] patrixr opened #33 "Localisation support"
Hi,

Any plans to support localisation, I've been fiddling around vapid trying to build a multi-language website.

[2018-09-23 11:39] srobbin commented on #33
@patrixr Good question—I think that would be a useful feature.

Someone brought up a similar subject in Issue #19, so I 'm going to close this one. Please join in the discussion there.

[2018-09-23 11:39] #33 closed

[2018-09-23 11:42] srobbin commented on #32
@baslie Yes, take a look at the "Link to Repeating Content" section under "Sections". That describes how to link to an individual page, like something you'd use for a blog post.

https://docs.vapid.com/learn-more#sections

[2018-09-23 11:44] srobbin commented on #4
Yeah, that's exactly what I would do too.

[2018-09-23 11:45] srobbin commented on #5
@thgh Great submission, and thanks for the link to port-authority. I'll submit a PR for this one soon.

[2018-09-23 15:03] JLKM opened #34 "Feature request: Lists with all records in a multiple-section"
Plain html-templates as the workhorse of an entire website setup design and control - database definitions included... Really nice idea! Makes web-publishing much more transparent than usual.

A couple of extra features to consider:
1. `Dynamic lists` showing all records in a multiple-section.
2. `If` and `unless` testing not only for content in a field - but also for presence of a certain string

[2018-09-24 00:06] patrixr commented on #19
Possibly creating per-language tabs on the dashboard pages would be an elegant way of enabling the localisation.

[2018-09-24 00:17] patrixr opened #35 "Enabling custom endpoints / Vapid as a middleware"
I've been fiddling with vapid, and trying to figure out if I can add site-specific endpoints to my project.

Given that Vapid wraps a Koa app, could that be exposed in order for us to add our own middlewares ?
Something along the lines of :
e.g
[code]

[2018-09-24 07:28] KeizerDev commented on #9
I would like to use the Vapid dashboard locally to maintain multiple sites and when I'm done I would deploy them on my vps like you would do with Jekyll. What I like about Vapid instead of Jekyll (I have no experience with middleman so can't say anything about that) is the way of just declaring a variable and then fill them with your data instead of the otherway around like you do in Jekyll. Same

[2018-09-24 09:46] siriokun commented on #32
Perhaps you can see example page that I created to create Blog posts,
https://github.com/siriokun/vp

In the dashboard, you just need to put working url to your post/page 😉

More examples soon!

[2018-09-24 09:56] igorescobar commented on #4
And this would work for layout images too? Like the ones inserted on CSS etc?

[2018-09-24 09:58] igorescobar commented on #4
During the post creating I was wondering if we could achieve something better like:
<img src="{{my_image tag=false}}" imageboss-operation="cover"  imageboss-width="200" imageboss-height="200" /> and then during the parsing it would render the image correctly.

Would also be nice to have a way to extend the interface and have like a visual way of setting those properties.

[2018-09-24 15:33] srobbin commented on #13
Closing, and consolidating installation issues with Issue #20.

[2018-09-24 15:33] #13 closed

[2018-09-24 17:47] gadd-ferreira commented on #19
I am willing to implement it, just need an overview from @srobbin on how he thinks it should be done.

[2018-09-24 18:09] srobbin commented on #34
@JLKM Thank you.

Can you explain Dynamic Lists a little more? I'm not sure understand.

[2018-09-24 18:15] srobbin commented on #18
I've had similar issues in the past, too. As @pjlnmix said, you can include jQuery as an NPM module:

[code]

And then attach it to the window (slightly modified from the example above, without the `./`):

[code]

Or, if you want to make it easier on yourself, just include it in your HTML, from a CDN:

[code]

[2018-09-24 18:16] srobbin commented on #17
@kosmaa Thanks for bringing this up. I just added a page to the project Wiki:

https://github.com/vapid/vapid/wiki/Self%E2%80%90hosting

[2018-09-24 18:16] #17 closed

[2018-09-24 18:19] srobbin commented on #16
@BrujaVudu I'm not familiar with deploying Node.js apps to App Engine, but it sounds like the service is launching the wrong startup script. What does your `package.json`file have as the start script? It should look something like this:

[code]

[2018-09-24 18:27] srobbin commented on #15
@pschfr In production, Webpack does minify JS files (those named with the .pack.js extension), but I don't think it strips out whitespace in CSS files. I imagine it's a setting we can add to [the Webpack config file](https://github.com/vapid/vapid/blob/master/lib/middleware/webpack/config.js). Do you have any experience with that, and could you suggest an edit?

[2018-09-24 18:30] srobbin commented on #23
@asitemade4u That's a great idea—I'd love to see something similar for Sublime Text. I'm planning to set up a discussion forum soon, so we can collaborate on topics like these, ones that aren't directly related to the Vapid CMS code in this repo. I'll post about it here as soon as it's ready. In the meantime, I'd recommend using a Handlebars.js extension, since Vapid's template tags are similar in

[2018-09-24 18:35] srobbin commented on #29
Fixed in #28.

[2018-09-24 18:35] #29 closed

[2018-09-24 19:13] JLKM commented on #34
Sure. I imagine an array of objects containing certain/selected fields from each multiple-section for traversal. This array might be accessible in order to feed a `forall`-method (like `if` and `unless`) - perhaps with a certain upper limit. The result would be a way to create a list of headlines with links for navigation.

[2018-09-25 00:34] pschfr commented on #15
@srobbin according to this https://github.com/webpack-contrib/mini-css-extract-plugin#minimizing-for-production, it can be done with another plugin. I can investigate more later...

[2018-09-25 08:12] seekersapp2013 opened #37 "Deploy To Heroku"
I get this error when I try to deploy to heroku, "Application error
An error occurred in the application and your page could not be served. If you are the application owner, check your logs for details. You can do this from the Heroku CLI with the command"

Tried everything but its not working. Please help resolve

[2018-09-25 13:33] ohnoimdead opened #38 "Reordering new records in sortable sections fails"
## Repro

* vapid new foo
* update index.html to add a new sortable section
* on the dashboard, add two new records for that section (let's say "one" and "two")
* drag the bottom record to the top (drag "one" to the top of the list)

## Expected

The dashboard and the site (and the db) match ordering.

## Actual

The dashboard shows "one" first but the site shows "two" first.

## Notes

Starting w

[2018-09-25 13:39] walidvb commented on #37
Did you try adding a `Procfile` or a `package.json`?

I am guessing heroku doesn't know how to start the app. Try putting this(or similar) in your `Procfile`:

[code]

[2018-09-25 13:51] seekersapp2013 commented on #37
I could not find a Procfile but I was able to find a package.json file. So I added the information into that but its still the same. Here is the link to the url http://crunchcorruption.herokuapp.com/

git push heroku
Enumerating objects: 11, done.
Counting objects: 100% (11/11), done.
Delta compression using up to 8 threads.
Compressing objects: 100% (7/7), done.
Writing objects:  50% (4/8), 984.0

[2018-09-25 13:57] seekersapp2013 commented on #37
And on heroku dashboard I noticed that instead of having web: vapid start it has web: npm start. But I was unable to edit this information.

[2018-09-25 14:40] seekersapp2013 commented on #37
Tried using both but still not working.

Can you please create a working demo on github, add heroku deploy button, then let's see.

Maybe a system configuration on my part is the problem.

Thanks

[2018-09-25 15:03] walidvb commented on #37
hm apologies. Indeed, it doesn't seem as straight-forward as hoped for. Don't really have the time to check all this right this second unfortunately.

[2018-09-25 15:27] seekersapp2013 commented on #37
And I have put in a lot of work to start all over. Please consider.

[2018-09-25 15:29] jcbbuller opened #39 "I'm getting a the following error when trying to download Vapid from npm"
Jacobs-MacBook-Pro-3:~ jacobbuller$ sudo npm install -g vapid-cli
npm WARN deprecated browserslist@1.7.7: Browserslist 2 could fail on reading Browserslist >3.0 config used in other tools.
npm WARN deprecated @types/commander@2.12.2: This is a stub types definition for commander (https://github.com/tj/commander.js). commander provides its own type definitions, so you don't need @types/commander in

[2018-09-25 15:42] walidvb commented on #37
I will let an admin answer, but you are using beta software, and should be wary of not relying too critically on it.

One thing you might want to try, if you can't figure heroku out, is to Dockerize it, perhaps that will work. I'm not sure of the internals of heroku.
Other options include self-hosting, of course.

[2018-09-25 15:44] trst commented on #11
What I think would be preferable for development would be to have someway to integrate different packages that augment the build setup, without having to manually add and configure them upstream. So, if my latest project would benefit from imagemin and a responsive image solution, I could add/develop a package that would hook in, something like `npm install vapid-imagemin` and have a corresponding

[2018-09-25 15:52] trst commented on #9
If it were just for me, I might stick to a static generator, like Jekyll, however, I think Vapid really does benefit a client with less technical savvy than a developer. I would like to give clients an easy to update solution with the _option_ to build statically for security purposes. These static files could be stored in a git repository through a cron job (or whatever), in case I have to roll b

[2018-09-25 16:53] trst commented on #37
Interesting. I gave it a go and Heroku logs say that the crash was caused by an SQLite error: unable to open database file. @seekersapp2013 perhaps you could look through your `heroku logs` to check for what crashed your instance. If its the same we can put more weight behind this issue 😄

A snippet of my log file posted below:

[code]

[2018-09-25 17:06] srobbin commented on #24
Rolling this into #38, since it's got steps to recreate.

[2018-09-25 17:06] #24 closed

[2018-09-25 17:07] srobbin commented on #38
Thanks, @ohnoimdead. This info is super helpful. I'll look into it.

[2018-09-25 17:09] srobbin commented on #37
@seekersapp2013 I just added a Wiki doc yesterday that might be helpful:

https://github.com/vapid/vapid/wiki/Self%E2%80%90hosting

Did you add the `SECRET_KEY` env variable to Heroku?

[code]

[2018-09-25 17:15] srobbin commented on #34
@JLKM Thanks for the explanation. If I'm understanding correctly, I think you should be able to do something similar now. For example, let's say you have a repeating section for blog posts:

[code]

And you want to create a sidebar on your homepage with titles/links to the first 5 blog posts. You could do this:

[code]

Check out the "Link to Repeating Content" section in the docs for more info: h

[2018-09-25 18:27] srobbin commented on #19
I'm curious to know what you all think about a couple of things:

## Should it be enabled globally, or per-field?

**Globally**

Enabling it globally could be done by adding a config property to `package.json`. e.g.

[code]

Pros: Easy setup, and centralized list of what languages the app supports.
Cons: Need a mechanism for turning it off per-field (e.g. image fields).

**Per-field**

Following t

[2018-09-25 19:04] JLKM commented on #34
My bad. Missed that trick in the docs. And my applause for both usefullness and simplicity at the same time.

Still can't get the list to work with three articles, though.

I would expect the nav to the left to show a list with all three articles. But only one - the same as to the right - shows up.

[code]

![billede](https://user-images.githubusercontent.com/18215374/46036409-b629f380-c105-11e8-8

[2018-09-25 19:27] srobbin commented on #39
@jcbbuller I'm sorry to hear that you're having trouble installing vapid. Consolidating this issue with #20, since it sounds like you're experiencing the same thing.

[2018-09-25 19:27] #39 closed

[2018-09-25 19:50] srobbin commented on #34
Ah, I see now. That looks like a bug, or rather a shortcoming of the way I designed detail pages. Vapid doesn't know how to pass in an array for the nav section, and a single entry for the content. It's just passing in a single entry for all `#section articles` tags. I'll look into it.

[2018-09-25 19:53] JLKM commented on #34
Excellent. Really appreciate your brilliant work.

[2018-09-25 20:08] pbuzdin commented on #9
Static builds would be awesome

[2018-09-25 20:13] styledev opened #40 "Vapid Unexpected Token cli.js:13"
After installing with sudo any time I try to use `vapid new {path}` or just `vapid` by itself I get the following error:

`$ vapid
/usr/local/lib/node_modules/vapid-cli/bin/cli.js:14
  return async (target) => {
               ^
SyntaxError: Unexpected token (
    at createScript (vm.js:56:10)
    at Object.runInThisContext (vm.js:97:10)
    at Module._compile (module.js:542:28)
    at Object.Modu

[2018-09-25 20:28] angelawolak commented on #40
Hi, I had the same error and updating my node.js fixed the issue.

[2018-09-25 20:53] srobbin commented on #40
@styledev Looks like you're running an earlier version of Node. You can type `node -v` to see which version.

In any case, I'd recommend upgrading to the latest (v8.12 is fine):
https://nodejs.org/en/

Let me know how it goes.

[2018-09-25 20:57] #25 closed

[2018-09-25 22:05] DanielRuf commented on #25
It did 👍 🎉

[2018-09-25 23:37] bearinsun commented on #12
@srobbin would you be open to a PR for this feature?

@Nexuist and I are considering putting some time into getting nested sections working as it's something we're looking to utilize relatively soon. Do you have a rough idea of what work it would entail?

[2018-09-26 06:00] jcbbuller commented on #32
This is great! Maybe put this on a separate section in the documentation? I had the same problem trying to see if this would work for a repeated portfolio/blog site and I don't think we're alone.

[2018-09-26 07:39] joyobject opened #41 "Does Vapid support switching languages?"
I'm now the process of testing Vapid and I'm very impressed by how easy we I can set up (I'm a designer) However, my clients would like to have 2 languages on her site. The dashboard is ok to be one language but the site should be able to support 2 languages.

[2018-09-26 08:42] patrixr commented on #19
I feel listing the languages per field is perhaps overkill. I would personally lean towards a global implementation (package.json config looks good), and being able to disable fields, for example like this :
[code]

Personally, I like the idea that the dashboard would reflect exactly what we see on  a page. Meaning that we would see a localised field next to one that doesn't have translations. Per

[2018-09-26 14:32] Jack89ita opened #42 "Add vapid build command"
Hi! i think that it will be nice to have a ```vapid build``` command. Currently there's only ```vapid deploy```, that is used to deploy on vapid hosting, but what if i would like to deploy to my own server minifing and building the site?
Woult it be possible?
Thanks

[2018-09-26 16:51] gadd-ferreira commented on #19
I agree with @patrixr,
Global definition, local blacklisting and tab view.

[2018-09-26 16:54] gadd-ferreira commented on #41
@srobbin is looking at it, we are currently drafting the spec here: #19

[2018-09-26 17:10] asitemade4u commented on #19
Me too!

⁣Stephen Sinclair​

On Sep 26, 2018, 12:51, at 12:51, Guilherme Ferreira <notifications@github.com> wrote:

[2018-09-26 20:48] joyobject commented on #41
@gadd-ferreira thank you

[2018-09-27 14:04] dking3876 opened #45 "unexpected token error when running new"
after installing i can't start a new project.

get the following

`C:\users\AppData\Roaming\npm\node_modules\vapid-cli\bin\cli.js:13
return async (target) => {

SyntaxError: Unexpected token (
at createScript (vm.js:56:10)
at Object.runInThisContext (vm.js:97:10)
at Module._compile (module.js:542:28)
at Object.Module._extensions..js (module.js:579:10)
at Module.load (module.js:487:32)
at tryModule

[2018-09-27 16:55] srobbin commented on #5
@thgh Just create a pull request to fix this bug. Let me know if you're able to test/verify.

[2018-09-27 17:16] ramijames opened #47 "Add a helper to show an active state for navigation"
I realize that this means including some sort of routing, and that perhaps another package can be used for this (vue.js, for example) but it would be helpful to have it in a simpler form. It might be enough to be able to just query the URL.

[2018-09-27 18:45] HueyGeek commented on #45
Same issue but at node v6.14.4, npm  v3.10.10, over linux 4.15.0-34-generic #37~16.04.1-Ubuntu SMP x64

/usr/local/lib/node_modules/vapid-cli/bin/cli.js:13
  return async (target) => {
               ^

SyntaxError: Unexpected token (
    at createScript (vm.js:56:10)
    at Object.runInThisContext (vm.js:97:10)
    at Module._compile (module.js:549:28)
    at Object.Module._extensions..js (module

[2018-09-27 19:09] srobbin commented on #45
Vapid [requires Node v8.9.0 or higher](https://github.com/vapid/vapid/blob/master/package.json#L16). Sorry, I should have put that in the README—just added it now.

I'm going to close this issue. If you have any follow-up installation questions, please chime in on Issue #20.

[2018-09-27 19:09] #45 closed

[2018-09-27 19:11] srobbin commented on #42
@Jack89ita Thanks for submitting this request. I'm going to close this issue and consolidate it with #9, since it's a similar topic. Feel free to chime in there.

[2018-09-27 19:11] #42 closed

[2018-09-27 19:13] #41 closed

[2018-09-27 20:30] dthreatt opened #48 "cant do anything"
I tried on ubuntu for windows and cloud9 and cannot even get the vapid new /path/to/project to work
!

[2018-09-27 13_26_10-vapid - cloud9](https://user-images.githubusercontent.com/8387791/46172849-6a885e80-c259-11e8-9b71-16a707120b8b.png)

[2018-09-27 20:32] dthreatt commented on #20
Mine installed but I cant run

![2018-09-27 13_26_10-vapid - cloud9](https://user-images.githubusercontent.com/8387791/46172973-d7035d80-c259-11e8-8f37-be307cc979fc.png)

[2018-09-27 20:54] iocron opened #49 "Extending Vapid - Custom Scripts, Extensions, Hooks, etc."
Is there a possiblity to extend the logic of vapid with own scripts, writing extensions/plugins for it, etc.? Does Vapid provide any hooks to add own code as well? I love the cms and the features of it very much, I am just missing some possibilities to extend it (e.g. adding own content types, plugins, etc.).

[2018-09-27 21:19] Gulci opened #50 "If / Unless not working unless variable is used"
If I try to use something like the following:
[code]
Even if I've populated `thing_in_about` through the dashboard, it will not show up unless I've used that variable within the section.
[code]

Is this expected behavior? For example, I'm trying to use this to tell my navigation bar not to show a certain page if `page_main_content` hasn't been populated. However, in order to get that to work, I ha

[2018-09-27 21:56] srobbin commented on #48
@dthreatt Sounds like you're having the same issue described in #45. You'll need to update to Node.js v8.9.0 or greater to install Vapid.

Closing this ticket. If you have any follow-up questions, please add them to #45.

[2018-09-27 21:56] #48 closed

[2018-09-27 23:00] dthreatt commented on #45
yes in order to do that just do

nvm i 8.9.0

after i did that everything worked fine.

I think on your SETUP you need to say you need Node v8.9.0 or higher on the install screen

[2018-09-28 09:44] Jack89ita commented on #9
Absolutely a must have feature in my opinion.

[2018-09-28 14:12] Jack89ita opened #51 "Get index of item in list"
Hi! would it be possible to get the index of the current item while looping a list with this tag ```{{#section officesList multiple=true sortable=true}}```
It will be useful for conditional statement and maybe classes personalizations.
Thank you very much!

[2018-09-28 19:45] kkranzo opened #52 "Install Package"
Do you have plans to make it so I can download a package and install locally or on a server (similar to how you can install Wordpress)? So I won't have to use Terminal, etc.

[2018-09-28 23:27] srobbin commented on #51
@Jack89ita Right now, there's no way to access the current index of a loop, but it probably wouldn't be too hard to add. That said, conditional statements (`#if` and `#unless` directives) don't test for equality, just the presence or absence of a value. Given that, can you think of another use case for the index?

[2018-09-29 17:24] tealtan opened #53 "WYSIWYG editor should support multiple paragraphs"
I was expecting the html content type (using the wysiwyg editor) to support outputting multiple paragraphs instead of a single chunk of html separated by `<br/>`s.

(I can get that to happen when using the markdown editor, but it would be nice if the wysiwyg option did that as well.)

Maybe this is already supported?

[2018-09-30 10:07] joyobject opened #54 "Is there any tutorial on self-hosting Vapid?"
I have tested Vapid on my mac without any problem. So now I'd like to deploy the site on the server. I have set up a clean new Droplet in Digital ocean. The follow is what I did for the setup:

- Ubuntu 18.04 x64
- NodeJS v8.10.0
- Nginx
With the Nginx default setup, the public site should be in /var/www/html
My question is that what is my next step? Should I install Vapid on my server? using `npm

[2018-09-30 15:41] joyobject commented on #54
I think the common way to do is to push the Vapid folder to github. And go to Digitalocean droplet and clone Vapid folder from github to the server. But I am not sure about the database. (the data folder). Thank you

[2018-09-30 17:11] #5 closed

[2018-09-30 17:32] srobbin commented on #53
@tealtan Agreed.

Right now, we're using the [Trix editor](https://github.com/basecamp/trix), which has a great, simple interface, but creates the markup you described. There have been a [couple](https://github.com/basecamp/trix/issues/117) of [discussions](https://github.com/basecamp/trix/issues/202) in the Trix repo about modifying the output, but it doesn't look like there are plans to move for

[2018-09-30 18:02] Jack89ita opened #55 "Enable template tags on 404 page"
Hello! would it be possible to enable the use of template tags on 404 page?
Thank you!

[2018-09-30 18:12] trst commented on #54
It would be nice to for clear documentation on deploying SQLite because being able to keep the database in sync through git would be an easier way to get developers involved with Vapid and reduce barrier to entry at the expense of robustness.

Leave the option to switch database types for those who need it.
On 30 Sep 2018, 11:22 -0600, Scott Robbin <notifications@github.com>, wrote:

[2018-09-30 19:39] srobbin commented on #55
@Jack89ita I'm curious to hear how you'd use them. Currently, we're not running error pages through the parser, to ensure that they'll always display without issue. I'm open to the idea of parsing the 404 page, but I'd like to hear a little more first.

[2018-09-30 19:45] Jack89ita commented on #55
Well i would use the template tags to print common parts of my website like header or footer. Or maybe dynamic parts like menu. Do you think this could be a good idea?
Thanks!

[2018-09-30 19:53] srobbin commented on #54
Theoretically, you shouldn't have to do _anything_ to deploy with SQLite—the app creates the database on startup if one doesn't already exist. So, if you deploy a vanilla Vapid project to production, it should just work, database-wise.

[2018-09-30 21:56] trst commented on #54
Interesting. I’ll have to test again. I had issues earlier after deployment but it might have been my server.

Is it worth adding a section to the documentation?
On 30 Sep 2018, 13:53 -0600, Scott Robbin <notifications@github.com>, wrote:

[2018-10-01 12:50] walidvb commented on #51
if it's only for class modifier, would CSS pseudo-classes not do the trick?

[2018-10-01 13:05] Jack89ita commented on #51
@walidvb I think you are right. I will close this, thank you all!

[2018-10-01 13:05] #51 closed

[2018-10-01 20:59] srobbin opened #57 "Custom directives / plugins"
Currently, Vapid has seven content types—text, html, choice, date, image, link and number—otherwise known as "directives." Having a limited number of options was an intentional design decision, so one could master the basics quickly, and build sites without continually referencing documentation. That said, it's easy to imagine there will be a desire for more directives, either as a means of connec

[2018-10-01 21:05] srobbin commented on #4
@igorescobar I just created a new issue (#57) that I think would be a good place to continue this discussion. It's a feature request for custom directives (plugins). The idea is that you'd be able to create a special content type for ImageBoss. For example:

[code]
Which, in the long term, might be more useful than hacking the `type=image` tag for your needs.

I'm going to close this issue, so we

[2018-10-01 21:05] #4 closed

[2018-10-01 21:07] srobbin commented on #16
@BrujaVudu I'm not sure if you resolved this issue, but in either case, I'd like to move conversations about deployment issues over to the [Vapid forums](https://forums.vapid.com/). Please feel free to chime in over there, and update me on the progress of deploying to GCP.

[2018-10-01 21:07] #16 closed

[2018-10-01 21:09] srobbin commented on #23
@asitemade4u I just set up an [online forum](https://forums.vapid.com/) for issues that aren't directly related to the Vapid CMS. If you wouldn't mind, can you please create a new thread there, about the VS Code extension (and possibly broader to include others like Sublime)? Thank you.

[2018-10-01 21:09] #23 closed

[2018-10-01 21:11] srobbin commented on #49
@iocron Thanks for bringing this up—it's a great question. I just created a new Issue (#57) that summarizes similar thoughts and asks a few open-ended questions about what types of plugins folks would like to develop. Please feel free to join in there.

[2018-10-01 21:11] #49 closed

[2018-10-01 21:15] srobbin commented on #37
@seekersapp2013 Were you able to successfully deploy on Heroku?

In any case, I'd like to move conversations about deployment issues over to the [Vapid forums](https://forums.vapid.com/). Please feel free to chime in over there, and update me on the progress of deploying to Heroku, or provide tips to others facing the same issue. Thanks.

[2018-10-01 21:15] #37 closed

[2018-10-01 21:17] srobbin commented on #54
@joyobject Any luck getting it to run on DigitalOcean?

In any case, I'd like to move conversations about deployment issues over to the [Vapid forums](https://forums.vapid.com/). Please feel free to chime in over there, and update me on the progress of your droplet deploy, and provide tips to others in the same boat.

[2018-10-01 21:17] #54 closed

[2018-10-01 21:33] cece554 opened #58 "ERROR: Cannot find module"
I've been using vapid just fine, but now when i try to start a new project i get the error ERROR: Cannot find module 'path/to/folder'.

i uninstalled vapid then re installed to see if that would make a difference but it did not.

[2018-10-02 00:29] srobbin commented on #58
@cece554 Sounds like it's having a hard time finding your project. If you know where your project is located, you can navigate to the directory first, and then start Vapid.

[code]

is the same as doing

[code]

[2018-10-02 01:04] tealtan commented on #53
@srobbin Quill looks quite nice! I’ve also seen https://prosemirror.net, which has both WYSIWYG and markdown modes.

[2018-10-02 03:00] cece554 commented on #58
you're right i must be tired, lol i copied the wrong file path.
sorry to bother

[2018-10-02 14:37] walidvb commented on #57
Hey @srobbin thanks for your consideration!

I appreciate and agree with keeping vapid simple and as bare-bone as possible.

1) I don't think that presentational elements have any place in the core, so `type=slideshow` sounds out of scope to me. Elements I could imagine should correspond to input types(`select`, `checkbox`, etc). I'm not sure what the `buy` directive would do?
I think image could

[2018-10-02 19:49] #58 closed

[2018-10-02 20:03] cece554 opened #59 "Ability to define pages then sections"
So far i really like Vapid and how simple it is, the main thing i would like to see is the ability to define a page and then the sections on a page.

[2018-10-02 20:52] iocron opened #60 "Content Type "Alias"?!"
A content type to choose from a entry of Section B inside a entry of Section A would be very helpful to be more flexible. E.g. having two sections with a structure like this:

A. Pages (multiple)
 - Title
 - Choose a Gallery

B. Galleries (multiple)
 - Image(s)
 - Caption Text

With this the user could select one of the Gallery Entries on a Pages Entry. This would be very benefical to crosslink co

[2018-10-02 23:06] srobbin commented on #53
@tealtan Ooh, ProseMirror looks nice. I'll dig into it some more, thanks.

[2018-10-03 00:36] cece554 opened #61 "Self Hosting install"
I'm having trouble installing on my site a centos7 Digital Ocean droplet.

Ive installed Node.js via
`sudo yum install epel-release`
`sudo yum install nodejs`
`sudo yum install npm`

then tried to install vapid
using
`npm install -g vapid-cli`

got these errors
pm ERR! Linux 3.10.0-862.2.3.el7.x86_64
npm ERR! argv "/usr/bin/node" "/usr/bin/npm" "install" "-g" "vapid-cli"
npm ERR! node v6.14.3
npm

[2018-10-03 08:02] Jack89ita commented on #61
What version of node.js are you using?
In the documentation you can read "Vapid requires node v8.9.0 or higher".

[2018-10-03 08:05] siriokun commented on #61
Try install with sudo,

[code]

[2018-10-03 15:00] srobbin commented on #61
I agree with @Jack89ita, looks like it's an issue with the version of Node:

If you still need assistance, can you please open a thread on the [Vapid forums](https://forums.vapid.com/)? I'm hoping to steer questions about installation, hosting, and general use of Vapid to the forums, and reserve GitHub issues for software development and bugs. Thanks.

[2018-10-03 15:00] #61 closed

[2018-10-03 15:03] srobbin commented on #59
@cece554 Thanks for the submission. If I understand correctly, you'd like to see something similar to #12, nested sections. Feel free to chime in there.

[2018-10-03 15:03] #59 closed

[2018-10-03 15:16] srobbin commented on #12
@bearinsun: Right now, I'd prefer to keep the sections flat, and not introduce nesting. Although I'm grateful that you're interested in contributing.

My two main reasons being:

1. It would make it more confusing to differentiate between nested sections and broader reusable content. For example, if you wanted to include office locations on the About and Contact page:

[code]

2. I'd like to give

[2018-10-03 22:49] bearinsun commented on #12
Thank you for taking the time to leave a detailed response, @srobbin.

While I understand the reasoning behind keeping sections flat for the time being, it admittedly does make applying Vapid for our use case somewhat more complicated. Our users (the people who edit the site's content and who would be using Vapid's dashboard) are accustomed to an organizational hierarchy based on individual pages,

[2018-10-04 08:00] hajek-raven opened #63 "Permission denied even with sudo rights (ubuntu)"
**Describe the bug**
When I install vapid-cli with sudo rights, bcrypt throws access error even if the folder is set to chmod 777.
`sudo npm install -g vapid-cli`

**Log**
[code]

**Expected behavior**
Install vapid-cli correctly.

**Environment**
Include relevant details, so others can replicate the issue.
 - OS: [Ubuntu 18.04]
 - Node Version [8.12.0]

[2018-10-04 08:06] hajek-raven commented on #63
As I dig into this issue it can be fixed by installing it like this:
`sudo npm install --unsafe-perm vapid-cli -g`

I think that this is not a problem with vapid but with npm or bcrypt package.

[2018-10-04 08:06] #63 closed

[2018-10-04 08:36] seekersapp2013 commented on #57
I think I agree with @walidvb the input names should be the W3C input types. Like type=button, type=checkbox, type=password, type=radio. That way its less confusing for anyone starting out. The idea of type=slideshow is good, because it simplify a lot of things.

[2018-10-04 08:39] seekersapp2013 commented on #53
I would suggest codemirror. https://codemirror.net/

[2018-10-04 08:41] walidvb commented on #57
@seekersapp2013 i didn't mean to necessarily restrain to the W3C input types, just to stick to basics, and leave 3rd party integrations and presentational functionality to custom directives, in the form of plugins or smth.

Regarding `type=slideshow`, are you saying we _should_ have it? What would be the difference with `image`?

Last, for 2.: perhaps it could be handy for directives to allow cust

[2018-10-04 09:00] seekersapp2013 commented on #57
I'm saying that it will be easier for an HTML beginner to understand when we use the W3C spec. instead of having a custom name types for the same thing. ie. it will be easier to have type=radio than have a custom name that renders a radio button.

About the type=slideshow, I would be excited to see something like this eg.
 {{#section slideshow multiple=true limit=5 required=false}}
 {{image type=s

[2018-10-04 09:30] walidvb commented on #57
I'll let @srobbin step in, but i'm not 100% i follow.

Is this a template?
[code]

`{{#section}}` are multiple by default. What would `type=slideshow` be?
I'm not sure I get it..

Still, I could definitely imagine a `slideshow` directive to exist, only it would be a custom one(which would essentially use a `{{slide type=image multiple=true}}` directive, and have some javascript to create the slide

[2018-10-04 09:44] seekersapp2013 commented on #57
It will even be simpler that way, I'm just kind of sold out to the idea of vapid been "intentionally simple" and I think making the syntax relate-able to HTML syntax will make it much more simpler. I will be looking forward to this feature. And also looking forward to the hosting service. I received a mail today.

[2018-10-04 14:52] seekersapp2013 opened #64 "npm install -g vapid-cli error on linux"
Trying to install vapid on linux but get this error. I don't know what the problem may be please help

**Describe the bug**
Vapid outputs an error after vapid start or vapid new is fired.

**To Reproduce**
Steps to reproduce the behavior:
1. Install nodejs on my server using SSH
2. then npm install -g vapid-cli
3. vapid new path/to/project/folder or vapid new
4. See error

**Expected behavior**
Th

[2018-10-04 23:30] w-biggs opened #65 "Automatic responsive image / thumbnail generation on upload"
**Is your feature request related to a problem? Please describe.**
Images uploaded through the dashboard are uploaded in full quality. When displaying those full quality images, load times are heavily impacted if the images are too large. I have a small gallery on a website I'm building that is affected by this and would greatly benefit from generated thumbnails.

**Describe the solution you'd lik

[2018-10-05 02:16] w-biggs opened #66 "Passing information to partials"
**Is your feature request related to a problem? Please describe.**
Say I have a `{{> head}}` partial that includes everything inside my `<head>` tag. Inside the head is a `<title>` tag. If I want to set the title to something different in each page, I, well, can't. There doesn't seem to be any way to pass data to a partial, like you normally can with handlebars-style templating engines.

**Describ

[2018-10-05 15:47] srobbin commented on #64
@seekersapp2013 I'm sorry to hear you're having trouble installing Vapid. I'm going to close this issue, and reply to you on [your post in the forums](https://forums.vapid.com/t/npm-install-g-vapid-cli/30).

[2018-10-05 15:47] #64 closed

[2018-10-05 16:18] srobbin commented on #6
@walidvb: I can see how this would be useful, but there are some feature requests that might resolve to a different solution, and a temporary workflow to handle the existing need.

Regarding a temporary workflow, it's possible to use a second section to handle multiple images/fields. For example:

[code]

In terms of related feature requests, here are a few proposals being discussed:

**Nested Sec

[2018-10-05 16:22] srobbin commented on #20
@dthreatt Looks like you may be using a version of Node < 8.9.

I'm going to close this thread, and ask anyone else who needs install help to use [Vapid's forums](https://forums.vapid.com/). We're going to try to keep GitHub issues focused on software development, and encourage install, hosting, and general usage questions to use the forums.

[2018-10-05 16:22] #20 closed

[2018-10-05 16:27] Tibo46 opened #67 "Click addEventListener doesn't work on anchor links"
**Describe the bug**
Hello,
I just found out that the click event listener doesn't work on anchor links.
Other listener such as "mouseover" and "mouseout" works fine. My best guess is that it's an issue with the routing mechanism.

**To Reproduce**
### HTML
`<a href="#" class="link-nav">My Link</a>`
### JS
`
function myFunction() {
    alert('clicked');
}
document.querySelector('.link-nav').addEve

[2018-10-05 16:29] srobbin commented on #8
@DenVrede I hope it's OK, but I'm going to steer your feature request slightly askew, and change the topic to Drafts: the ability to assign a status to a record, either as "draft" or "published" (or maybe even "future"). I think it could serve the same purpose (e.g., you could deactivate an item by putting it in "draft" mode), and aligns itself with a feature that I had been pondering too.

[2018-10-05 16:29] LoganDark commented on #8
Could revisions be a thing too?

[2018-10-05 16:55] srobbin commented on #57
@walidvb: Great feedback. I appreciate you moving this conversation along. Answers and thoughts inline:

Agreed, I don't think something like `type=slideshow` belongs in core either. The hope is that custom directives will let people experiment freely, and give this project an outlet for doing things outside of its proposed scope.  I imagine some of them will be good though, and we might consider

[2018-10-05 17:06] srobbin commented on #67
@Tibo46 From the code above, it looks like `document.querySelector('.link-nav')` just needs to be changed to `document.querySelector('.nav-link')`.

[2018-10-05 17:09] Tibo46 commented on #67
@srobbin my bad was a bad copy and paste of the example. That's not solving the issue

[2018-10-05 17:17] w-biggs commented on #67
Your code is working perfectly for me, and I'm not sure what Vapid could do to prevent this from working. Are there any error messages showing up? Is there any other JS on your page?

[2018-10-05 17:27] srobbin commented on #66
@w-biggs Thanks, this is a good request.

How did you imagine we'd reference "title" in the partial? Like this?

[code]

The issue I see here is that `{{title}}` would then be interpreted as a field in the General section. Maybe it could be written with an underscore, so it stayed a part of the private namespace (the parser currently ignores underscored variables, except `_permalink`, `_created_at

[2018-10-05 17:31] Tibo46 commented on #67
Wow sorry i was being really stupid... Looks like i had another item with that classname somewhere and so the event listener wasn't attached to all of them...
My bad

[2018-10-05 17:31] #67 closed

[2018-10-05 18:02] walidvb commented on #57
@srobbin happy to do so ^^, really appreciate the concept of this. Reminds me of when I was using tumblr to build websites, to avoid dealing with CMS maintenance.

What's your take on tags/taxonomy?

Agree on #65 reg image processing.

I can't find this currently being called anywhere? In any case, easy add, and then it should likely be there that the multiple file is being handled(although it mig

[2018-10-05 18:07] walidvb commented on #6
I see the work around. Multiple fields sounds pretty basic functionality(no less than other mentions). Curious to hear other opinions, and guess this decision will be left to #57

[2018-10-05 18:29] srobbin commented on #67
@Tibo46: happens to me all the time. Glad to hear it’s resolved.

[2018-10-06 18:14] srobbin commented on #12
@bearinsun I think the Vapid approach could be something like this: each section representing a page, and associated items appearing adjacent to the parent page in the nav (since sections are ordered alphabetically). For example:

[code]

[code]

[code]

Becomes:

![screenshot](http://g.recordit.co/aeA9qy8zSj.gif)

[2018-10-06 18:28] srobbin commented on #26
@asitemade4u I wanted to check in, and see if you were able to sort this out. If not, let me know the answer to the question above, and/or share your template HTML.

[2018-10-06 18:38] srobbin commented on #31
@kevinruby Were you thinking about hosting the form processor yourself, or is there a Formspree alternative that you're considering? If it's just a matter of submitting the form to another endpoint, I could see us modifying the form directive, so it accepts an "action" parameter. i.e.,

[code]

[2018-10-06 18:39] srobbin commented on #31
Also, thanks for the kind words about Vapid! And apologies for the slow reply—I'm on holiday right now, and behind on responding to issues.

[2018-10-06 18:53] srobbin commented on #65
@w-biggs Yeah, I think this would be useful. @nazhamid and I had been discussing something similar: adding image processing for creating thumbnails. In our context, it was about cropping (e.g. `{{photo type=image width=100 height=100 crop=true}}`), but this sounds like another good use case.

With both in mind, I could see it working similar to your second example. Maybe something like this:

[cod

[2018-10-06 18:59] kevinruby commented on #31
@srobbin Hi, I'm thinking about hosting the form processor myself (a NodeJS backend for example). The "action" parameter would be nice and it's the easiest way.

For an alternative, it would be nice that form isn't just used to contact. It would be nice if we can one day to post comment form or anything saved in the DB. But it's an another feature.

Thank you for the answer.

[2018-10-06 19:17] srobbin commented on #60
@iocron Thanks for submitting this.

In the original draft for Vapid, I had something similar: `type=reference`. In that context, I imagined categorized links, a la https://trentwalton.com/info/.

The problem I ran into was that it would require some kind of querying mechanism for sections. e.g., `{{#section links where=...}}`, and I was having a hard time figuring out a simple syntax. Your exampl

[2018-10-06 21:07] w-biggs commented on #65
Yeah, I think that'd cover most use cases and make the most sense.

[2018-10-06 22:31] bearinsun commented on #12
@srobbin I see... thanks for demonstrating. This approach works excellently if every page has just one or two sections, but it begins to break down as more sections are added.

If the "Services" page has a list of purchasable services, contacts, and, say, gallery of images, that would entail four separate tabs for each section on the dashboard. Take this example and add even just two or three more

[2018-10-07 02:37] Nexuist commented on #12
@srobbin here is a visual representation of how nested sections work in the (rough and outdated) editor @bearinsun and I originally built (for the site we hope to transition to Vapid). If it is not distinguishable (we know its design is less than perfect—it was a quick and dirty implementation at the time), "Qualities" is the nested section in the screenshot.

Note that for just the "Home" page, t

[2018-10-07 10:58] Jack89ita opened #68 "Problem on new created list items"
**Describe the bug**
After the last update, every time i try to add an item to my repeating content, it is correctly displayed in frontend but not in backend.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the backend
2. Click on new item button after entering in a repeating content section
3. Add a new item
4. See error

**Expected behavior**
The table that contains the new line is d

[2018-10-07 15:37] Jack89ita commented on #68
Closing 'cos there were an error on my update that broken the listing. After a clean update everything is ok.
Thanks!

[2018-10-07 15:37] #68 closed

[2018-10-07 16:34] iocron commented on #60
@srobbin Thank you for your feedback. I had something similar in mind, but for simplicity and flexibility  I was thinking about a new content type e.g. "alias" (or "reference") so the dashboard user can select one or multiple entries of a section inside another sections entry:

pages.html:
[code]

galleries.html
[code]

In Addition, referencing only parts of the section with the content type "alia

[2018-10-07 20:16] #38 closed

[2018-10-07 20:57] srobbin commented on #14
This should be easy enough to add, but one pre-condition is going to be adding a Forgot Password flow. I'm not sure what the best way to implement that is if we don't have email credentials.

[2018-10-08 01:46] patrixr commented on #14
@srobbin An idea : could we perhaps use github accounts to log in. Implementation would be fairly simple and it would push all account/password management to github.

[2018-10-08 06:50] Jack89ita commented on #66
@srobbin Nice solution! I'm currently having the same problem, not for normal pages in which i include different partials, but in listing item page in which i do not have the control of the "current item". Infact i am not able to differentiate items title and description.
Any tips about this?
Thanks

[2018-10-08 06:55] Jack89ita commented on #55
Hey @srobbin what do you think about this? Would it be possible?

[2018-10-08 23:07] ddamato commented on #30
Yep, have the same problem. I grabbed the node_sqlite3.node file and moved it into a few directories in my project while trying to start the server. None of it worked. More specific steps for this project would be beneficial.

[2018-10-08 23:17] ddamato commented on #30
Ok I got it, has nothing to do with the binary. All you need is `npm install` and then `npm start`.

[2018-10-09 00:16] clarklab commented on #30
Running npm install gets me a big giant error:

[code]

[2018-10-09 02:41] srobbin commented on #30
@clarklab Looks like that might be a different error than the SQLite one being discussed here. In any case, this article may end up to help you resolve both:

https://windowswebdev.io/getting-vapid-up-and-running-on-wsl-ubuntu

[2018-10-09 02:49] srobbin commented on #55
@Jack89ita Possibly. Right now, I'm focused on bug fixes and stability, but I'll keep in it mind for a future release.

[2018-10-09 02:51] srobbin commented on #66
@Jack89ita I'm not sure I entirely understand, but it sounds like a good topic to bring up in the [Vapid forums](https://forums.vapid.com/).

[2018-10-09 02:55] srobbin commented on #14
@patrixr That's an interesting idea, however I think GitHub might alienate some users. For example, if I wanted to invite someone in my family, they'd have to go to GitHub to signup (after I gave them a tech support to explain what GitHub was), and then they go to the website... I think it would be preferable if Vapid had its own user management system. Maybe a centralized Vapid OAuth?

[2018-10-09 02:59] srobbin commented on #12
@Nexuist, @bearinsun: Thank you—this is good feedback. I'll add improving section management to the roadmap.

[2018-10-09 19:39] JohannesHoffmann opened #70 "Alter Form Elements HTML"
If you are using a css framework for example bulma or bootstrap you have to use their html structure in forms. A nice feature would be to provide a way to change the default html given by vapid of all form elements.

My first idea: Create an folder **_form** with files **_form/_text.html** or **_form/_password.html** and so on.

[2018-10-09 19:52] srobbin commented on #70
@JohannesHoffmann Thanks for the suggestion.

In cases like these, I think it might be better to bypass Vapid's form tag, and use Formspree directly (i.e., `{{#form}}` is just a convenience wrapper around Formpree).

https://formspree.io/

[2018-10-09 19:54] JohannesHoffmann commented on #70
Well that's right ;) - thank's for the work!

[2018-10-10 07:54] mrkwtz commented on #8
@srobbin sound good to me :+1:

[2018-10-10 17:18] trst commented on #65
I had something very similar in mind. Image manipulation would be huge for generating srcsets automatically. This is perhaps another feature (or plugin) all together, but being able to dial in compression/quality would be helpful.

Sincerely,
Steven Teskey
On 6 Oct 2018, 15:07 -0600, Wilson Biggs <notifications@github.com>, wrote:

[2018-10-11 05:35] #70 closed

[2018-10-12 01:47] srobbin commented on #31
@kevinruby Just issued a PR for this (#72). It'll go out in the next release. Thanks for the feedback and suggestion.

[2018-10-13 12:19] watermelon-pixels opened #73 "Impossible to start a new project"
Hi,

**Bug**
Impossible to start a project with vapid. :/
[code]

**My Environment**
 - Windows 7
 - Browser [e.g. Chrome, Safari]
 - Node v6.9.5
 - Vapid Last one

[2018-10-13 12:35] Jack89ita commented on #73
From the doc: "Vapid requires node v8.9.0 or higher, and can be installed via npm"

[2018-10-13 16:29] watermelon-pixels commented on #73
OK @Jack89ita, Thanks.
I done the upgrade.
I created an Vapid project.
But I can't run it by _vapid_ _start_ task.
`ERROR: Please install sqlite3 package manually`

I install npm sqlite3 locally. But it doesn't work.

[2018-10-13 16:38] Jack89ita commented on #73
Try to read [this](https://forums.vapid.com/t/installation-problems/35/7), but it is relate to a Mac OS.
Better wait for @srobbin sorry,

[2018-10-14 20:11] #31 closed

[2018-10-14 20:11] #50 closed

[2018-10-14 20:13] #53 closed

[2018-10-14 20:23] chwzr opened #75 "Websocket error on self hosting"
**Describe the bug**
I'm running a Vapid behind a Nginx Proxy.
Everything is fine, beside that the dashboards livereload script produces this error:
[code]

Maybe there should be a config var "hostname" or similar.
I've tried ws://mydomain.com:3000/livereload and it works fine.

I think this line produces the error above: [here](https://github.com/vapid/vapid/blob/fedcaeb4ffb707489b366963e84dd7554

[2018-10-14 20:50] srobbin commented on #73
@watermelon-pixels It sounds like you're having a similar issue to the one @Jack89ita linked to.

Try deleting the contents of "node_modules" then reinstalling the packages. i.e.:

[code]

If that doesn't work, please join the discussion on our forums: https://forums.vapid.com/t/installation-problems/35/7

[2018-10-14 20:50] #73 closed

[2018-10-14 20:58] srobbin commented on #75
@chwzr Thanks for submitting this. It is a bug indeed.

Sounds like maybe two issues:

1. WebSocket shouldn't try to connect production mode (when `NODE_ENV=production`), since that's only relevant when you're live editing code.
2. The `ws://localhost:3000/livereload` line should derive its host from `window.location` instead of hard-coding it.

I'll work on this, and get it released shortly.

[2018-10-15 13:41] chwzr commented on #75
thanks for the input, didn't put node in production. I think window.location will allways work, and would be a good solution!

[2018-10-15 13:52] srobbin commented on #57
@walidvb Sorry for the slow reply—I've been on holiday for the past week or so.

Re: serialize, it's currently being called [here](https://github.com/vapid/vapid/blob/master/lib/models/record.js#L121), although it doesn't do much right now. I think I originally added it to ensure that the number directive stored values as a number instead of a string.

Agreed, I think making _destroy a reserved wo

[2018-10-15 15:49] #75 closed

[2018-10-15 16:20] srobbin commented on #53
@tealtan The new WYSIWYG is live now, with `<p>` tags instead of `<div><br>`.

[2018-10-15 19:03] watermelon-pixels commented on #73
Ok thank @srobbin

[2018-10-15 20:01] srobbin opened #77 "ERROR: SQLITE_CANTOPEN: unable to open database file"
**Describe the bug**
Console displays `ERROR: SQLITE_CANTOPEN: unable to open database file` when Vapid cannot find the `data` folder. This commonly happens when using GitHub to share a project repo, since `data` is in the `.gitignore` file.

**To Reproduce**
Steps to reproduce the behavior:
1. Start a new project: `vapid new foo`
2. Delete the data folder: `rm -rf foo/data`
3. Start the server: `

[2018-10-15 20:14] alecmarcus opened #78 "Using Vapid with Vue.js"
Hi all, I'm super excited about Vapid. Up front, I've not dealt much with CMS before, and I figured it would be a great point of entry for me. My development experience is almost all front-end.

And so, I'll be the first to ask it:

How would I get up and running using Vapid with Vue.js?
---
I usually initialize my Vue projects with either `vue-cli`, or I use Nuxt, which spoils me and sets everyth

[2018-10-16 20:12] srobbin commented on #78
@alecmarcus I see you started [a topic in the forums](https://forums.vapid.com/t/vapid-and-vue-js/72)—thank you. That's a good place for us to discuss Vapid and Vue, and hopefully, others can jump in. I'm going to close this issue, and reply in the forum thread.

[2018-10-16 20:12] #78 closed

[2018-10-17 16:35] #77 closed

[2018-10-17 16:53] walidvb commented on #57
no probs, so have i.

So, how should we go about this? I have some projects that could use this, but I think we should move forward with it.
You want to do some plugin system? Also, reg multiple images, considering the files are handled kind of separately, would you still change my PR?

Last, maybe we could expose both an endpoint to upload images(returning the URL), AND expose the function `saveF

[2018-10-23 10:14] Jack89ita commented on #55
Hello again @srobbin. In a few days i will publish my work (probably in winners awards too), and for sure i will need the 404 page customized. Do you know when this feature will be available? Or do you accept PR for this?
Thank you.

[2018-10-23 16:15] srobbin commented on #55
@Jack89ita Congrats on the upcoming launch—I'm looking forward to seeing what you build.

Unfortunately, I don't think this feature will be released in the next few days, possibly not for a few months. I'm leaving feature requests like these open for now, allowing others to participate before we move ahead.

[2018-10-23 16:19] srobbin commented on #57
@walidvb I'd like to leave this conversation open for a bit longer, to get feedback from others. Custom directives are going to be a significant feature, and I want to make sure we do it right, and that it accommodates as many use cases as possible. Regarding timing, I think that this might be something tackled in the New Year.

To your other point, I hope that we'll be able to reuse some of your

[2018-10-23 17:04] Jack89ita commented on #55
@srobbin i see, So the only solution it to put static content into 404 page right?

[2018-10-24 09:55] Jack89ita commented on #15
Hi @pschfr, did you find a solution to this issue? I am waiting to be able to minify CSS too..

[2018-10-24 13:13] srobbin commented on #55
@Jack89ita That's correct, for now.

[2018-10-25 19:19] srobbin opened #82 "Override form submit button text"
**Is your feature request related to a problem? Please describe.**
Right now, the `{{form}}` tag automatically creates a submit button with "Submit" as the default text, which is problematic if say you're creating a form in another language.

**Describe the solution you'd like**
Add a parameter that overrides "Submit".

[2018-10-25 23:03] Hadr619 opened #83 "Change out Node-Sass for Dart-Sass"
**Is your feature request related to a problem? Please describe.**
Currently in the project you are using ```node-sass``` for sass compiling. Since ```libsass``` is deprecated basically so is node-sass and it would be nice to use a sass that was up to date with releases.

**Describe the solution you'd like**
Changing the compiling sass to ```Dart-Sass``` would allow users to use and be up to date

[2018-10-26 14:52] srobbin commented on #83
Thanks, @Hadr619. I've got a pull request ready for this one—it'll ship in the next release.

[2018-10-30 16:06] srobbin opened #86 "Ensure that only one General record can be created"
**Describe the bug**
Somehow, two General records were created. Not able to reproduce, but there should be code present to prevent this.

https://forums.vapid.com/t/duplicate-content/100/2

[2018-11-03 18:36] moqmar commented on #12
I've got a syntax idea for that:

[code]

Let me explain:
- The section `city.office` contains all offices. If it's used inside a `city` section (nested in the template), it only contains the offices inside that city.
- We print the name of the parent section (the city) using `^name`. If we have more deeply nested sections, we can use e.g. `^^^name`, to use the parent's parent's parent's name.
- I

[2018-11-05 10:27] siriokun opened #88 "Failed to install on Node v10"
Vapid failed to install on Node v10.

**To Reproduce**
Steps to reproduce the behavior:
1. Install NodeJS version 10
2. `npm install -g vapid-cli`
3. `vapid new site`
4. `vapid start site`

**Result**
[code]

**Environment**
 - OS: Windows 10 x64
 - Node Version : 10.13.0
 - Vapid Version : 0.2.2

[2018-11-06 21:58] martonlente opened #89 "Install Vapid without npm package manager or command line tools"
Hello,

I'd like to install and try Vapid on localhost using XAMPP, though I have no experience in using package managers or command line tools. Most CMSs – e.g. WordPress, Perch, MediaWiki etc. provide a way to be installed 'manually'. **Is there a way I could try out Vapid without using the npm method?**

I'm very comfortable with CMSs in general, but somehow I just managed not to use package ma

[2018-11-07 11:54] #89 closed

[2018-11-07 15:47] JohannesHoffmann opened #90 "Firefox - html5sortable redirects to www.arbitrary.com"
**Describe the bug**
Sorting a Element of a Section with multiple=true and sortable=true to the end of the list redirects from Vapid backend to www.arbitrary.com.

Known issue and already fixed in html5sortable library: https://github.com/lukasoppermann/html5sortable/issues/450

Only happens on Firefox. Safari works fine.

**To Reproduce**
Steps to reproduce the behavior:
1. Create Section with mu

[2018-11-07 22:32] srobbin commented on #90
@JohannesHoffmann Thanks for letting me know about this. I just issued a PR for the fix—it'll go out in the next release.

[2018-11-07 22:34] srobbin commented on #88
@siriokun I'm sorry to hear that you're having trouble installing Vapid. Would you mind opening a new thread on the [Vapid forums](https://forums.vapid.com/)? We're trying to address install and usage issues there, and keep GitHub for development-oriented tasks. Thanks.

[2018-11-07 22:34] #88 closed

[2018-11-08 03:09] #90 closed

[2018-11-08 03:11] #82 closed

[2018-11-08 03:11] #83 closed

[2018-11-10 15:50] vascogaspar opened #93 "Unable to apply CSS or load JS files when deploying to Vapid"
Hi. I'm having trouble deploying my first site with Vapid.
Seems like the CSS and JS files are not being applied/uploaded when self hosting using `vapid deploy`.
Everything works fine while on development.

**From the console**: `Refused to apply style from 'https://XPTO.vapid.site/stylesheets/site.css' because its MIME type ('text/html') is not a supported stylesheet MIME type, and strict MIME ch

[2018-11-11 14:03] martonlente opened #94 "Feature request: Repeating content fields"
Hello,

I've started using Vapid, and I'm truly amazed by its ease of use and flexibility. However, there is one feature I really miss, that may add even more flexibility without adding too much complexity to the system.

**You can now add all kinds of repeating content by using sections, with `multiple` attribute set to `true`. This can also be used to create a blog-like, or 'list/detail' page fu

[2018-11-11 19:55] walidvb commented on #94
dupe of #6 , which was closed for the benefit of #57. Feel free to participate there, so we can move all this forward! :)

[2018-11-11 20:02] walidvb commented on #66
@srobbin would you accept PRs for this?

[2018-11-12 10:53] walidvb commented on #94
Agree on the 'core' part. I think @srobbin was weary of adding this already, as it might impact the architecture of the way input is handled.

Not sure what you mean by 8 content types instead of seven? as far as i understand, each content type would need to be storable as unique value _or_ array, no?

[2018-11-12 11:40] martonlente commented on #94
Thanks @walidvb for your answer. Regarding the 'eighth content type' I wrote, I meant it could be implemented as a new content type. Maybe I was wrong, as its syntax could be more similar to sections'.

What I mean could work (or look) like this in code:
[code]

I think the above would be very familiar to Vapids' logic, and wouldn't overshadow its simplicity. A repeater shouldn't even have a name

[2018-11-12 13:31] srobbin commented on #93
@vascogaspar Thanks for reaching out, and sorry to hear about the troubles. I'm going to close this issue, and [open it on the Vapid forums](https://forums.vapid.com/t/unable-to-apply-css-or-load-js-files-when-deploying-to-vapid/128) instead. We've been trying to use the forums for usage/hosting discussions, so we can keep GitHub focused on the CLI development. Talk to you on the forums in a bit..

[2018-11-12 13:31] #93 closed

[2018-11-12 16:57] walidvb commented on #47
I think a nice workaround for this would be to pass variables to partials, currently discussed in #66 :

[code]

[code]

[2018-11-12 17:12] srobbin commented on #66
@walidvb Yes, I'm open to a PR, but I think we should probably discuss the implementation a little bit first. Were you thinking of using [front matter](https://github.com/vapid/vapid/issues/66#issuecomment-427440325)?

[2018-11-12 17:17] Jack89ita opened #95 "Error on deploying website"
When deploying for the first time i get this:
![cattura](https://user-images.githubusercontent.com/15101779/48363825-220cef00-e6a7-11e8-9d0f-0a27d15368ee.PNG)
Any clue?

[2018-11-12 17:17] walidvb opened #96 "Upload image in WYSIWYG"
Can we consider uploading images in the WYSIWYG? Very handy when you want to allow users to post article-like content.
Currently users need technical knowledge to use the workaround described below.

**Describe the solution you'd like**
Add an image button to the wysiwyg.

**Describe alternatives you've considered**
Adding the images to an external service, using markdown and writing html code.

*

[2018-11-12 17:49] walidvb commented on #66
@srobbin i might have spoken too fast, was speaking with another friend about this and we were both needing the functionality to improve DRY(as per #47 ).

I have a rails and haml background, so i would go with `{> partial variable=value}`. My opinion is that partials should be able to receive variables, and the frontmatter solution actually brings global variables to a template/html file.
This co

[2018-11-12 18:19] srobbin commented on #66
@walidvb Re: frontmatter and partials, I was thinking it would work something like this:

[code]

[code]

[code]

Where partial variables are merged into the frontmatter "_page" namespace. That might provide a nice way to set values for both the template and partial.

Also, re: DRY, this might naturally lead to a discussion of layouts.

[2018-11-14 14:30] walidvb commented on #66
Can this be done in 2 steps?
First, accept variables from the the direct syntax `{ > partial varName=varValue}`, then add front-matter for global variables? what do you think?

[2018-11-14 17:59] Jack89ita commented on #95
Anyone? Please i cannot deploy my site...

[2018-11-14 18:11] Jack89ita commented on #95
Made it work thanks to [this](https://stackoverflow.com/questions/6031214/git-how-to-use-netrc-file-on-windows-to-save-user-and-password)!

[2018-11-14 18:11] #95 closed

[2018-11-14 18:24] srobbin commented on #95
@Jack89ita Sorry, I missed this. I'm glad you were able to find a fix, and appreciate you sharing it with us.

[2018-11-15 20:17] srobbin commented on #94
@martonlente Thanks for the suggestion. I think this close enough to being a Duplicate of #6 that I'd like to consolidate the conversations, but we'll definitely take your `#repeat` idea into consideration.

[2018-11-15 20:17] #94 closed

[2018-11-15 21:32] walidvb commented on #96
I hear you. In the case of quill, the image is inserted as base64, so I guess this would need to be handled browser-side(should we use base64).

I took a look into the source code of quill, though, and couldn't find anything related to that bit(nor was I able to plug into the quill image handler) 🤔. Upcoming version 2.x might solve this.

[2018-11-15 21:48] martonlente commented on #6
Thanks @walidvb for confirming this. I think it could be a simple, but good solution for many ideas of #57 too.

[2018-11-15 21:55] mariocontext opened #97 "Allow partials to be accessed from subfolders in root"
Right now, partials need to be in the root www folder in order to be accessed. It would be nice to be able put into subfolders so a more component based approach can be applied for better organization. Ran this originally by Scott who said to create a feature request.

In Story format: As a Vapid template developer, when I am creating pieces of reusable components, I want to be able to put them in

[2018-11-16 15:58] srobbin commented on #96
I dig how they use base64—makes everything else downstream so much easier. I'll look into our options too.

[2018-11-16 23:53] walidvb commented on #6
Come to think of it, fieldsets are more relevant to nested sections in #12, I think.
Multiplicating one unique field also requires a much different UI rendering, I imagine.

[2018-11-17 09:19] martonlente commented on #6
I think it's really worth having a look on how it's implemented in Perch CMS, even if Vapid is a completely different product, as it's so close to how sections actually work: [https://youtu.be/QWm_gjcGSFo](url). Craft CMS has a similar feature too, so it's a feature not specific to a certain CMS.

[2018-11-17 21:49] amiller-gh commented on #9
Any updates on this? Happy to help implement 🙂

[2018-11-22 07:46] aprilalayon opened #100 "Starting development server ERROR: Migration..."
1) When starting the server there is an error.
`==> Starting the development server...
ERROR: Migration 20180513195752-create-users.js (or wrapper) didn't return a promise`

Steps to reproduce the behavior:
1. Install npm vapid-cli package
2. Create a new project folder
3. vapid start . doesn't output anything and shows the error
`==> Starting the development server...
ERROR: Migration 20180513195

[2018-11-22 23:00] ktquez commented on #100
Me too

[2018-11-23 15:32] ibdf commented on #100
Same here. I followed the exact steps on the vapid home page.

[2018-11-23 15:33] srobbin commented on #100
Thanks for letting me know. I'll look into this today.

[2018-11-23 20:37] #100 closed

[2018-11-23 20:45] srobbin commented on #100
Just released v0.3.3, which _should_ fix this problem. 🤞

To update: `npm install -g vapid-cli`

Let me know if that does/doesn't work.

[2018-11-24 17:17] ibdf commented on #100
Can confirm that's working after the fix.

[2018-12-01 02:03] srobbin opened #102 "Sequelize error when adding items to a multiple section"
**Describe the bug**
Vapid throws `SequelizeDatabaseError: column "Record.position" must appear in the GROUP BY clause or be used in an aggregate function` whenever adding a new record to a sortable section.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a sortable section
2. Add a new record in the dashboard
3. See error

[2018-12-01 02:06] #102 closed

[2018-12-07 05:45] Hadr619 opened #104 "Adding sourcemaps for development"
**Is your feature request related to a problem? Please describe.**
During development developers may choose to see which scss partial styles are located with in a browser's developer tools.

**Describe the solution you'd like**
Adding a feature to include sourcemapping in development mode would speed development

**Describe alternatives you've considered**
With the inclusion of dart sass sourcemap

[2018-12-07 13:40] walidvb commented on #57
I think extensibility and plugin architecture is the point indeed of this thread.
As to where these should exist, I don't see why `npm` or `yarn` wouldn't do the job, as in the end they are likely to simply be node modules.
As for the exposure, it sounds like Vapid forums is a place dedicated for that, although a (unofficial) page on the wiki of the github is my preferred option.

Reg. calendar, h

[2018-12-08 10:19] ohnoimdead commented on #57
@srobbin I made the rookie mistake of, "this shouldn't be discussed here BUT..." so before I respond to the discover/share topic above I wanted to check with you on where/how you want to handle that convo.

Let's take a step back. I think there's a mix of usage and implementation in this thread that's confusing things a bit (at least it is for me). The following may already be defined somewhere el

[2018-12-08 16:19] srobbin commented on #104
@Hadr619 Good idea. I just submitted PR #105 with source maps turned on in development. Let me know if you're able to review it before I merge.

[2018-12-08 18:53] Hadr619 commented on #104
@srobbin This will be awesome, thank you

[2018-12-08 20:36] srobbin commented on #57
@ohnoimdead, @walidvb Thanks for keeping this thread moving. Agreed, this is a complex topic and needs clarification.

Just to reframe a little bit, it's helpful for me to think of custom directives as having one or more traits: those that simplify the presentation layer, and those that simplify the data entry layer. For example, @walidvb's multiple image uploader improves data entry of images, bu

[2018-12-08 22:04] Hadr619 commented on #97
Having been working with Vapid on a larger project this could be very beneficial for the project hierarchy.

[2018-12-10 15:53] heyflo commented on #97
Indeed, that's one of the first things I have tried and it had to be in the root `www` folder.

[2018-12-11 02:16] #104 closed

[2018-12-11 02:20] srobbin commented on #104
@Hadr619 Just released v0.3.5 which includes this PR. Thanks again for submitting this.

[2018-12-11 10:13] dwehrmann commented on #9
I agree with @trst and @KeizerDev , this should be mandatory in production. It would be a blast to generate static files and push them to netlify or any other similiar solution. The benefit of giving a user-friendly dashboard/backend to the client along with a opportunity to create a quick static build is the main reason we're looking into "new" cmses right now.

[2018-12-14 12:34] walidvb commented on #57
100% agree with approaching this with a Site Author perspective.

Templates is also nice.

Reg curation, while I agree it is helpful, I think it would be a shame that developers with custom requirements are not able to add their own directives, without the need of approval of admins.

Last, one would need to inject CSS and JS both into front-end and dashboard, no? Or at least allow the dashboard t

[2018-12-16 18:18] Jack89ita opened #107 "Items sort not correct on deploy"
When i deploy my new website on vapid hosting, the sortable items in sections don't reflect the development order; so every time i do a new deploy, i have to reorder items with drag and drop every time.
Any tips?
Thank you very much!

EDIT: it seems that reordering items it's not working properly, when i drag and drop items, the one that i drag is ordered correctly, but the others are always jumpi

[2018-12-16 21:44] srobbin commented on #65
I wanted to let you all know that PR #106 is nearly ready to merge, and should allow you to should cover most of these scenarios.

[2018-12-17 22:44] #65 closed

[2018-12-20 22:00] mk0r commented on #96
Just want to add my vote -- I imagine this is a dealbreaker for many people. Maybe cloudinary.com or imgix.com are worth looking into

[2018-12-26 19:52] srobbin commented on #97
This just shipped in the latest release. Thanks for feedback.

As a reminder, the NPM package changed from `vapid-cli` to `@vapid/cli`. To upgrade:

[code]

[2018-12-27 22:53] #107 closed

[2018-12-27 22:56] srobbin commented on #107
@Jack89ita This should be fixed in the most recent release, v0.5.1.

As a reminder, the NPM package name has changes from `vapid-cli` to `@vapid/cli`. To update:

[code]

[2018-12-28 22:39] srobbin commented on #86
Can't reproduce.

[2018-12-28 22:39] #86 closed

[2018-12-30 18:39] Jack89ita opened #112 "Error when updating package"
Hello, i was trying to update to the last release: uninstalling is ok but when i run
```npm install -g @vapid/cli```
i get the following error:
![untitled-2](https://user-images.githubusercontent.com/15101779/50550138-8ccfb500-0c6a-11e9-962f-b05a5fedbccb.jpg)

Any clue?
Thanks!

[2018-12-30 19:37] #27 closed, assigned to nobody

[2018-12-31 19:19] #11 closed

[2018-12-31 20:41] srobbin commented on #112
Looks like it's having trouble finding Python on your system. Do you know if you already have it installed? If so, the solution might be as easy as putting the location in your PATH. If not, here's the downloads page: https://www.python.org/downloads/windows/

[2019-01-01 13:32] Jack89ita commented on #112
Hey @srobbin, following your idea i've installed python (3.7.2), now when i'm launching the install command this is the error:
![untitled-1](https://user-images.githubusercontent.com/15101779/50573318-14840380-0dd2-11e9-91e1-1d430e2e5b9a.jpg)
Maybe i need to install a different version?

[2019-01-01 20:08] srobbin commented on #112
Yah, it looks like the bcrypt modules depends on Python 2, and you've got Python 3 installed. Try [uninstalling Python 3](https://www.wikihow.com/Uninstall-Python), and then [installing Python 2.7](https://www.python.org/downloads/release/python-2715/).

[2019-01-02 22:18] #35 closed

[2019-01-04 11:09] Jack89ita commented on #112
Hi @srobbin, i installed python 2.7 but i still can't update or install @vapid/cli.
Why should i need python by the way?
Should i rollback version of vapid? because now i can't even start the development in my local machine..
Thanks

[2019-01-04 21:05] srobbin commented on #112
Are you seeing any error messages? If so, please post them.

Re: Python, bcrypt is requiring it, because it can't find a prebuilt binary for the version of Node you're using. So, it uses Python to compile bcrypt from the source.

[2019-01-07 16:10] Jack89ita commented on #112
Yes there are some errors, here the screenshot:
![untitled-1](https://user-images.githubusercontent.com/15101779/50778791-1ac92280-129f-11e9-86a6-9a120797710b.png)

Ok let's move on forum thanks

[2019-01-07 16:20] Jack89ita commented on #112
Solved: need to install the package using node v8.10.0 as described [here](https://forums.vapid.com/t/production-mode-and-bcrypt-issues-on-v-0-5-1/174)
Thanks

[2019-01-07 16:20] #112 closed

[2019-01-07 21:49] pschfr commented on #14
Can we maybe not get this closed? :open_mouth:

[2019-01-08 09:46] LoganDark commented on #8
@stale, go away, this is a good suggestion

[2019-01-10 18:04] zohf commented on #60
Hey! This is a great idea and would make vapid incredibly powerful. I asked a similar question in the forums here: https://forums.vapid.com/t/data-linking-is-it-possible-to-associate-data-in-multiple-places-conditionally/179

I think @iocron's idea is a good one, but unfortunately it's out of my realm of expertise to try and put a PR together for this.

[2019-01-11 21:12] #26 closed

[2019-01-18 00:39] megalofauna commented on #12
I understand the desire to keep sections flat and see what comes of it, but I immediately ran into the desire to nest sections on my very first Vapid site. Specifically, I wanted to have a repeating {{#section}} inside a non-repeating {{#section}}.

Loving Vapid. But miss the equivalent functionality from Perch.

[2019-01-19 11:48] inmen commented on #96
<script>

var toolbarOptions = [
  ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
  ['blockquote', 'code-block'],
  ['link', 'image', 'video'],
  [{ 'header': 1 }, { 'header': 2 }],               // custom button values
  [{ 'list': 'ordered'}, { 'list': 'bullet' }],
  [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
  [{ 'indent': '-1'}, { 'indent':

[2019-01-19 11:53] inmen commented on #96
`<script>

var toolbarOptions = [
  ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
  ['blockquote', 'code-block'],
  ['link', 'image', 'video'],
  [{ 'header': 1 }, { 'header': 2 }],               // custom button values
  [{ 'list': 'ordered'}, { 'list': 'bullet' }],
  [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
  [{ 'indent': '-1'}, { 'indent'

[2019-01-19 11:55] inmen commented on #96
``    public function showUploadFile(Request $request) {
        $file = $request->file('image');
        // //Display File Name
        $filename = $file->getClientOriginalName();
        $destinationPath = 'uploads';
        $file->move($destinationPath,$filename);
        return response()->json([
            'status' => 'success',
            'data-id' => '123456',
            'url'=> 'http://

[2019-01-19 11:55] inmen commented on #96
`    public function showUploadFile(Request $request) {
        $file = $request->file('image');
        // //Display File Name
        $filename = $file->getClientOriginalName();
        $destinationPath = 'uploads';
        $file->move($destinationPath,$filename);
        return response()->json([
            'status' => 'success',
            'data-id' => '123456',
            'url'=> 'http://l

[2019-01-29 15:20] #15 closed

[2019-01-29 16:42] #55 closed

[2019-02-09 13:20] walidvb commented on #96
Wondering if there was any progress made on this front? what is the current state of dev and PR acceptance?

[2019-02-10 16:30] #96 closed

[2019-02-10 16:34] srobbin commented on #96
@walidvb Thanks for the nudge on this. I just released v0.6.0 which includes the ability to embed images from the WYSIWYG. It's turned off by default, but you can enable it by passing an `images=true` option. e.g.,

[code]

[2019-02-10 16:41] walidvb commented on #96
Superb, thanks!
I guess a next step will be to allow resizing of the images, to avoid base64 embedding 8MB images. :)

[2019-02-10 16:50] srobbin commented on #96
Yeah, that's kind of why I disabled it by default. We can proceed with caution and see if resizing/limiting becomes an issue.

[2019-02-12 14:37] walidvb commented on #66
do we really want to close stale issues? :/

[2019-02-17 17:51] #47 closed

[2019-02-22 09:47] #6 closed

[2019-02-22 09:51] martonlente commented on #6
Hello!

Are there any updates/plans on this? This feature would make Vapid so much more capable! Thanks for considering.

[2019-02-23 15:26] clawfire opened #115 "Exclude some files from the parser"
I have some JS 3rd party that are also using {{ }} templating leading vapid to show it in admin and make it mandatory. Would be usefull to be able to exclude some directory from the cli tool with config file or so.

[2019-02-23 15:32] clawfire commented on #115
renaming the folder with `.[folder name]` and updated the link / `@imports` and it's excluded ;)

[2019-02-23 15:32] #115 closed

[2019-02-23 16:02] clawfire opened #116 "Support SVG image"
**Describe the bug**
I was expected to see the file rendered.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any upload field and upload an SVG
2. See the preview

**Expected behavior**
SVG being rendered

**Screenshots**
![image](https://user-images.githubusercontent.com/1178/53288742-84888780-378c-11e9-95eb-1d50b10aea88.png)

**Your Environment**
 - OS: OSX
 - Browser Chrome
 - Node

[2019-02-23 17:08] ohnoimdead opened #117 "Time=true in a date field broken"
**Describe the bug**

```{{testdate type=date time=true}}```
Results in a text field with the value "undefined" in the dashboard and no date/time UI.

**To Reproduce**
Steps to reproduce the behavior:
1. Create new vapid site
2. Modify index.html adding: ```{{#section testings}}{{testdate type=date time=true}}{{/section}}```
3. Navigate to dashboard
4. <img width="262" alt="image" src="https://use

[2019-02-23 17:15] ohnoimdead commented on #117
FWIW it looks like vapid is emitting a <input type="datetime-local"> but setting the value to "undefined". Possibly due to format not being supplied?

[2019-02-25 15:17] srobbin commented on #117
@ohnoimdead Good catch. Looks like it was missing a default value.

[2019-02-25 15:25] srobbin commented on #117
Just published v0.7.0 w/ the fix. Thanks again for reporting this.

[2019-02-25 15:25] #117 closed

[2019-02-25 15:27] srobbin commented on #116
@clawfire Thanks for submitting this. I see what's happening—it's similar to an issue that a friend of mine just reported, where animated GIFs were being stripped of the animation.

The issue is being caused by [Vapid's image resizing/reorienting code](https://github.com/vapid/vapid/blob/master/lib/dashboard.js#L565-L568). I think the quick solution is to disallow resizing for SVG and animated GIF

[2019-02-26 10:20] heyflo commented on #9
Any updates on this ?
I am also looking forward to this, so I can keep a dashboard locally to edit my client content and push a static site in production.

[2019-02-27 09:22] martinsoender commented on #14
@srobbin What about using something like Google Authenticator or adding personal questions to answer before signing in?

[2019-03-05 02:42] #116 closed

[2019-03-05 02:45] srobbin commented on #116
@clawfire This should be fixed now in v0.7.3. To update:

`npm install -g @vapid/cli`

Let me know if you run into any troubles. And thanks again for submitting the issue.

[2019-03-05 02:57] srobbin commented on #14
@martinsoender I do like the idea of adding two-factor auth of some sort.

[2019-03-05 21:03] PHironaka opened #120 "Deployment to Glitch"
I tried to deploy a Vapid site to Glitch, and nothing is showing up.

Any steps we need to make other than syncing our github repo?

[2019-03-05 21:18] PHironaka commented on #120
Just checked the logs on Glitch and got the following error when I tried using vapid start .:

`/rbd/pnpm-volume/7eeb2e09-4829-45cb-8e08-fdc381d72e61/node_modules/.registry.npmjs.org/bindings/1.5.0/node_modules/bindings/bindings.js:135
  throw err;
  ^

Error: Could not locate the bindings file. Tried:
 → /rbd/pnpm-volume/7eeb2e09-4829-45cb-8e08-fdc381d72e61/node_modules/.registry.npmjs.org/sharp/

[2019-03-06 18:32] tobiasger opened #121 "Error when running vapid start"
**Describe the issue**
I'm getting an error right after running `vapid start <project-name>`. `vapid new <project-name>` is working like it should. I haven't made any changes to the files of the Vapid installation. I can run the `vapid start` command and everything seems fine, but when I visit `localhost:3000` through any browser, the following error pops up in the terminal:

[code]

And nothing i

[2019-03-07 01:24] stepjkl commented on #121
Hi there,

I am having the _same exact issue_. I wanted to try Vapid for the first time and this came out in the terminal instead (the localhost page keeps loading):

[code]

Also, I reinstalled all the global packages including vapid, node.js and npm which are most likely to be the cause from what I researched.

Thank you!

OS X 10.13.6
@vapid/cli: 0.7.3
node: 10.15.3
npm: 6.4.1

[2019-03-07 09:47] tobiasger commented on #121
Did it work after this or was there no difference?

[2019-03-07 09:54] stepjkl commented on #121
@tobiasger Nope, I still get the same error(s).

[2019-03-07 11:39] tobiasger commented on #121
Sorry for doing duplicates, but I read somewhere that errors should be posted in the Vapid Forum, so I did [a post there as well](https://forums.vapid.com/t/error-when-running-vapid-start/211). Whichever posts that the maintainers prefer to be closed can be closed.

[2019-03-07 14:48] srobbin commented on #121
Looks like it's [an issue](https://github.com/shellscape/koa-webpack/issues/109) with one of our dependencies. Thankfully, there's [a pull request](https://github.com/shellscape/koa-webpack/pull/110) ready that should fix the problem.

If the PR doesn't get merged today, I'll look into a temp fix.

[2019-03-07 19:45] srobbin commented on #121
I think I found a decent, temporary workaround, at least until that PR is resolved. Try installing the latest version of Vapid (0.7.4), and let me know if that fixes the problem.

To update:
`npm install -g @vapid/cli`

[2019-03-07 20:55] tobiasger commented on #121
Thank you! Updating Vapid fixed it for me. I had a very old version anyways, so I should've just tried that first.

[2019-03-07 23:06] stepjkl commented on #121
It is working now, thank you!

[2019-03-08 01:23] #121 closed

[2019-03-08 01:25] srobbin commented on #121
@tobiasger The other versions would’ve been broken too. 😉

Thanks so much for submitting this issue.

[2019-03-12 01:30] srobbin commented on #120
@PHironaka I'm sorry to hear about the troubles on Glitch. It's been a while since I've run it on there, but I can take a look. In the meantime, would you mind posting this question to the [Vapid Forums](https://forums.vapid.com/)? That's a better venue for hosting/third-party questions. I'll jump in over there with a reply.

[2019-03-12 01:30] #120 closed

[2019-03-12 13:03] ohnoimdead opened #122 "Reordering in FF intermittent"
**Reordering items in sortable sections intermittent fails on Firefox.**

**To Reproduce**
Steps to reproduce the behavior:
1. Create new site
2. Add a sortable section to index.html
3. Go to the dashboard in Firefox (65.0.1 verified) and create a few items
4. Attempt to reorder items

**Expected behavior**
Items are reordered

**Screenshots**

![ff_sorting](https://user-images.githubusercontent.c

[2019-03-12 13:10] ohnoimdead opened #123 "Reordering in Safari hides labels"
**Dragging items in a sortable section in Safari causes the labels to vanish (while dragging only)**

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new site
2. Add a sortable section to index.html
3. Go to the dashboard in Safari (12.0.3 verified) and create a few items
4. Drag an item to reorder

**Expected behavior**
Labels are visible while dragging

**Screenshots**
![saf_sortin

[2019-03-13 08:27] ohnoimdead opened #125 "Feature Request: Soft wrap in markdown editor"
Would be nice if the markdown editor soft-wrapped long paragraphs so the entire paragraph is visible without having to scroll horizontally. Might be a feature of ace, not sure.

Adding carriage returns results in <br>'s in the output html (which is the correct behavior for markdown) so that's not a workaround for this issue.

[2019-03-13 09:05] enigmatic-user commented on #66
Starting my first Vapid project, I also miss this feature very much. I hope the discussion here hasn't died...

[2019-03-13 21:21] srobbin commented on #123
@ohnoimdead I can't seem to replicate this on my end w/ Safari 12.0.3. In any case, can you please try the HTML5 Sortable demo, and see if the issue occurs there too:

https://lukasoppermann.github.io/html5sortable/index.html

[2019-03-13 21:24] srobbin commented on #122
@ohnoimdead From what I can tell, it's got something to do with _where_ the item is dropped? Safari and Chrome seem to be more forgiving. Maybe it's time to look for a new draggable plugin.

[2019-03-13 21:34] srobbin commented on #125
@ohnoimdead Looks like it's [an easy option to add](https://github.com/vapid/vapid/pull/126/files#diff-0a391524434eff19b3a0c30131e28303R10). It'll go out in the next release. Thanks!

[2019-03-13 21:59] PHironaka commented on #120
@srobbin i added this question to the forum - https://forums.vapid.com/t/issue-deploying-to-glitch/219?u=phironaka

I could use some help deploying this site, as I'm not too familiar with Vapid. I tried with Heroku earlier and it failed to load.

[2019-03-13 23:41] #125 closed

[2019-03-14 10:23] ohnoimdead commented on #123
I can't reproduce the error at the link.

[2019-03-15 02:03] srobbin opened #127 "Bug: Flatpickr stylesheet reference failing on Glitch/Heroku"
**Describe the bug**
The relative reference to Flatpickr's stylesheet (`@import "../../../node_modules/flatpickr/dist/flatpickr.min"`) is causing Webpack to fail on Glitch and Heroku. In retrospect, this wasn't a very good idea.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy a Vapid site to Heroku
2. Run `heroku logs --tail` to see the error message, "Can't find stylesheet to import.

[2019-03-15 15:20] #127 closed

[2019-03-19 00:11] tonysusi opened #129 "Use wss:// for sites serving https://"
I've deployed my vapid site to ssl site. While in the dashboard editing a textarea, the console is rendering the following error:

`Mixed Content: The page at 'https://example.com/dashboard/records/1' was loaded over HTTPS, but attempted to connect to the insecure WebSocket endpoint 'ws://example.com/livereload'. This request has been blocked; this endpoint must be available over WSS.`

Looking ov

[2019-03-20 14:42] srobbin commented on #129
@tonysusi Thanks for submitting this and the associated PR.

I'm curious, why is Livereload running on your production server? Typically, that's only run in development mode, so it can monitor template changes and prompt you to rebuild the data model.

[2019-03-20 18:31] tonysusi commented on #129
@srobbin Updating the .env with 'NODE_ENV=production',  sorted out my problem with ws:// and mixed content. Thanks for your help. No sure if you need to add that PR anymore.

[2019-03-20 18:31] #129 closed

[2019-03-20 20:27] AndiLeni opened #131 "Create new page from template"
Hello,

is it possible to add a new page from the admin panel and use f.e. an already existing page or a template?

Regards
Andi

[2019-03-21 19:13] srobbin commented on #131
@AndiLeni Would you mind posting the question to the [Vapid forums](https://forums.vapid.com/)? We're trying to keep the GitHub issues focused on development issues, and use the forums as a place to answers questions about how to use Vapid? Thank you.

[2019-03-21 19:13] #131 closed

[2019-04-08 09:50] LoganDark commented on #8
@stale 🖕

[2019-04-11 21:16] lsanwick opened #134 "Vapid server crashes when using "unfurl""
**Describe the bug**
Tried to add a new YouTube video link using the `unfurl=true` option, and the server crashes as soon as I try to load the page rendering that link.

[code]

Server Error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Add a link like `{{mylink type=link unfurl=true}}` to your template
2. Go to the dashboard, set the link to `https://www.youtube.com/watch?v=dQw4w9

[2019-04-13 21:56] jocap opened #135 "Error: Could not locate the bindings file."
**Describe the bug**
I've just installed vapid via npm, and I can't create a new project. It fails, complaining about not locating the bindings file.

**To Reproduce**
Steps to reproduce the behavior:
1. `sudo npm install -g vapid`
2. `vapid new x` (or actually, even just `vapid`)
3. See error

**Your Environment**
Include relevant details, so others can replicate the issue.
 - OS: OpenBSD 6.4
 -

[2019-04-16 19:56] w-biggs opened #136 "Flatpickr import not working"
**Describe the bug**
Attempting to run `vapid start .` fails and outputs the following errors:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. `vapid new test`
2. `vapid start test`

**Expected behavior**
It should be running normally...

**Your Environment**
Include relevant details, so others can replicate the issue.
 - OS: `Ubuntu 18.04.1 LTS` on Windows Subsystem for Linux
 - Nod

[2019-04-16 23:04] jordanmoon opened #137 "Can't save admin area"
**Describe the bug**
Unable to save any fields in the admin area

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new site `vapid new vapidtest`
2. Click 'Login'
3. Create a login and sign in
4. Add a 'Background Image' + 'Greeting', then save
6. Error (screenshot below)

**Expected behavior**
Content to save

**Screenshots**
<img width="1425" alt="vapid-error" src="https://user-imag

[2019-04-17 01:19] #137 closed

[2019-04-17 01:20] srobbin commented on #137
@jordanmoon Thanks for letting me know. I just published v0.8.1, which should fix the issue. Let me know if it does/doesn't work.

[2019-04-17 01:27] srobbin commented on #134
@lsanwick Strange. I'm running a fairly similar setup, but can't seem to replicate it:

- OS: Mac OS X 10.13.6
- Browser: Chrome
- Node Version: v10.14.1
- Vapid Version: v0.8.1

I don't think it should matter, but can you try updating to Vapid v0.8.1?

[2019-04-17 01:29] srobbin commented on #135
@jocap Thanks for submitting this. Here's the command you can use to see which version of Vapid you're running:

[code]

[2019-04-17 01:31] srobbin commented on #136
@w-biggs Yikes, looks like it's having trouble finding a bunch of the modules (ace-builds, jquery, quill, turbolinks, etc.) Maybe try uninstalling then reinstalling?

[code]

[2019-04-17 03:03] jocap commented on #135
Scott, thanks for your reply.  Again, the vapid command doesn't work;
`vapid -v` results in the same error.

On Tue, Apr 16, 2019 at 06:29:22PM -0700, Scott Robbin wrote:

[2019-04-17 03:35] w-biggs commented on #136
I tried that (with yarn at least) and it didn't fix the issue. I tried to do it with npm but I had issues with pre-node-gyp due to node/npm being installed as root, so I tried to install it without root but nvm doesn't work on my shell (fish), and I haven't had time yet to install bass in order to install nvm in order to install node/npm without root in order to try installing vapid with npm yet.

[2019-04-17 15:58] jordanmoon commented on #137
@srobbin Thanks a bunch! Working perfectly now. 😄

[2019-04-17 20:38] w-biggs commented on #136
I got `nvm` working and installed `node`/`npm` without root. I then re-installed `yarn` and tried to install `vapid` with it, but it had the same issues. I then retried installing `vapid` using `npm`, and it now works properly. Phew. Not sure why it has such major issues with `yarn` but this works at least.

[2019-04-17 20:39] w-biggs commented on #136
I guess changing this to a "vapid doesn't work with yarn" issue would make the most sense, since that's still a problem, albeit one with a workaround.

[2019-04-19 23:04] clawfire opened #138 "Supporting 3rd party file system like Amazon S3"
Deploying Vapid on services like now.sh or Heroku leaves us with the issue of non-persistent file storage.
A file storage adapter system would be great, with like S3 adapter at first and let do the community work on other adapters?

[2019-04-22 15:26] srobbin commented on #135
@jocap Maybe try forcefully re-installing/upgrading?

[code]

[2019-04-22 15:28] srobbin commented on #138
I [followed up on the forums about this](https://forums.vapid.com/t/hosting-on-heroku/244/2), but for future reference, here's the response:

[2019-04-22 15:36] srobbin commented on #136
@w-biggs Ah yeah, I get the same error with `yarn global`. Weird.

[2019-04-24 03:11] fieglek opened #139 "Unless functionality not working as expected"
**Describe the bug**
The `Unless` function is not working as outlined in the documentation. Even using the exact [example from the documentation](https://docs.vapid.com/learn-more#conditionals) does not work.

**To Reproduce**
1. Use a basic `unless` functionality in the HTML (this one is from the documentation).
[code]
2. Without anything added in the dashboard, both the main section code and the

[2019-04-25 01:39] #12 closed

[2019-05-03 07:38] SimonBuehler3 opened #140 "Vapid on Azure (serverless)"
Hi
Is there a way to use Vapit on azure with azure functions and blob storage?
My idea is a serverless Vapit website that you can pay per use.

Thank You!

[2019-05-08 16:57] srobbin commented on #140
@SimonBuehler3 Not that I'm aware of, sorry.

[2019-05-08 16:57] #140 closed

[2019-05-21 09:21] Jack89ita opened #143 "Backup files and database"
Hello!
It's been a while since i've published my site on vapid server. Now i have to do some changes and i would like to be able to download my files and the database backup before start working.
Is there a way to do that? Maybe from dashboard...
If no, it would be great to have this feature.
Would it be possible?
Thanks!

[2019-05-22 12:12] storm732 commented on #19
Is there any news on this topic?

I am currently working on a website that needs to be available in 2 languages and I would love to use Vapid.

Are there any tricks to implement localization at this point in time? I thought about using two servers with the same code but different databases and redirect requests to the correct one by proxying the two servers through nginx but that would make handli

[2019-05-27 01:47] srobbin opened #144 "`priority` should order columns in an index table too"
**Is your feature request related to a problem? Please describe.**
The columns in an index table (see below) are ordered by their appearance in the HTML. Since the `priority` attribute allows you to specify the order of input fields in a form, it should probably also dictate the order of columns in that table.

**Describe the solution you'd like**
Modify the index table logic, so it looks for fiel

[2019-05-27 10:31] instanceofme commented on #9
This still seems quite popular, maybe don't close it? 😅

[2019-06-05 12:49] tzekid opened #145 "Dashboard CSS doesn't compile"
**What**
The dashboard doesn't have any stylesheets and the console gives a lot of errors.

**Reproduce**
1.) Install the cli app via NPM
2.) Create a new project and run vapid
3.) Open the dashboard

**Screenshots**
![Screenshot_20190605_144512](https://user-images.githubusercontent.com/6037154/58957299-a25c8400-87a0-11e9-867e-db21348071e9.png)

**Your Environment**
Include relevant details, so o

[2019-06-05 14:26] srobbin commented on #145
@tzekid Thanks for reporting this. We've got a similar issued opened in #136 (so I'm going to close this one). It appears to be an issue with a yarn global install. The quick workaround is to install via npm:

`npm install -g @vapid/cli`

Hopefully, we'll figure out the issue with yarn soon.

[2019-06-05 14:26] #145 closed

[2019-06-10 03:10] #14 closed

[2019-06-12 16:21] #34 closed

[2019-07-17 14:35] JesseHigson opened #148 "Fields rendered in reverse order in the dashboard"
**Describe the bug**
Existing form fields and any new ones added within the HTML are rendered in reverse order in the dashboard.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new site with `vapid new project`
2. Start the web server with `vapid start project`
3. Access the dashboard
4. See fields rendered in reverse order

**Expected behavior**
As per the docs:

**Your Environment

[2019-07-28 16:31] #135 closed

[2019-07-28 16:31] #138 closed

[2019-08-14 02:49] will-in-wi opened #149 "Doesn't seem to work with Postgres"
**Describe the bug**
When trying to set up Vapid with Postgres, I get the following error:

[code]

I'm running it with `NODE_ENV=production SECRET_KEY=mysecretkey yarn exec vapid start .`

My `package.json` looks like:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Set up new vapid site with package.json as defined
2. Start it with command as specified.
3. Try to load dashboard
4. S

[2019-08-14 02:58] will-in-wi commented on #149
On an unrelated note, but in case others are searching and find this, MySQL < 5.7 doesn't work either, because of the lack of a JSON column. That's probably to be expected.

[2019-08-16 18:40] #149 closed

[2019-08-16 18:42] srobbin commented on #149
@will-in-wi Thanks for letting me know. This _should_ be fixed now in v0.8.6.

[2019-08-19 18:50] jakubmirejovsky commented on #19
Hi, any news?

[2019-08-21 23:59] yougotashovel commented on #9
Any new updates?
Would love to deploy this to Netlify.

[2019-09-06 20:02] webuxr commented on #66
@srobbin Just read through the thread above and noticed [your comment](https://github.com/vapid/vapid/issues/66#issuecomment-437980172) above. Interesting that this comment was almost a year ago! Also interesting that you and I just chatted about this in the [Vapid Forum recently](https://forums.vapid.com/t/loading-partials-with-tabular-data-from-existing-json-files/327/2?u=webuxr).

In reference

[2019-09-06 20:06] webuxr commented on #66
EDIT: I just remembered where I saw this info about Front Matter. It was from [Zurb's Foundation for Emails project](https://foundation.zurb.com/emails/docs/sass-guide.html) where they say this:

Good stuff there!

Obviously Vapid does not need to inline styles or use a special email-friendly HTML variation (aka: Zurb's Inky language), but their project's structure and Gulp-based build system migh

[2019-09-18 20:16] w-biggs commented on #14
This is still needed...

[2019-09-22 18:12] amiller-gh commented on #9
👋 Hi all! Just making an announcement that I'll be looping back to this finally in the next few weeks – I have a new project that'll require it! Excited to dive in again 🙂

[2019-09-22 18:13] amiller-gh commented on #9
Will continue working in https://github.com/vapid/vapid/pull/99

[2019-09-24 15:52] taciturasa opened #152 "npm install -g @vapid/cli fails on linux"
node - v12.10.0
OS - Anarchy Linux (Arch)
node & npm installed through manually installed nvm

When installing, it fails to install the specified version of sharp. Logs are attached.

[2019-09-24T15_49_59_330Z-debug.log](https://github.com/vapid/vapid/files/3648095/2019-09-24T15_49_59_330Z-debug.log)

[2019-09-24 20:46] taciturasa commented on #152
Looking further, it seems this is because vapid relies on an outdated sharp, which does not work on Node 12.

[2019-10-10 01:10] belmarca commented on #152
I have the same issue.

`Linux 4.19.0-6-amd64 #1 SMP Debian 4.19.67-2 (2019-08-28) x86_64 GNU/Linux`

[2019-10-10 01:17] belmarca commented on #152
Allowing greater versions of `sharp` seem to fix the issue.

[2019-10-18 06:23] nsrosenqvist opened #154 "No variable for current url or base url"
From what I can gather (at least not in the docs) there is no way to access the current URL or site base URL. This prevents configuring opengraph tags and other meta correctly.

**Your Environment**
Include relevant details, so others can replicate the issue.
 - OS: Ubuntu 18.04
 - Vapid Version: 0.8.6

[2019-10-24 19:06] amiller-gh opened #157 "proposal: Custom `vapid deploy`, new `vapid publish`, and One Click Deploy"
Had a bit of a crazy idea and wanted to document it :)

**Is your feature request related to a problem? Please describe.**
With #155 in the works, we now have even *more* potential for multiple methods for application distribution. Ex:

 - Deploy dashboard to vapid hosting (the current `lib/deployer.js` script)
 - [Deploy dashboard to Heroku](https://medium.com/@thibaultmilan/vapid-hosting-on-hero

[2019-10-24 19:14] amiller-gh commented on #157
(Note: Edited with a non-insignificant proposal change 🙂)

[2019-10-29 08:37] amiller-gh commented on #57
Ref: #157

The same plugin system could be used for discovering custom directives. There is plenty of prior art for this in other frontend build plugin systems – ex: Eyeglass, Ember-CLI, Vue, etc.

Side note: I like how these two issue numbers are exactly 100 issues apart.

[2019-10-29 09:16] amiller-gh commented on #66
So, there was a [pretty big conversation](https://github.com/emberjs/rfcs/pull/449) about this over in Ember land throughout the Glimmer (next gen Handlebars) buildout process. Here is the syntax they settled on for parameters passed to components to enable template-only component composition: https://glimmerjs.com/guides/templates-and-helpers

A similar sigil can be used for referencing passed at

[2019-10-29 09:31] amiller-gh commented on #66
Oh, also, ref #157. Just like I mentioned in #57, custom components could be delivered in a `/www/components`

A vapid plugin could provide custom directives in a `/www/components` folder. They would be automatically discovered, merged into the parent project (giving priority to locally defined directives of the same name `Object.assign` style), and made available in the parent project's templates

[2019-10-29 16:20] amiller-gh commented on #66
Ooh, and! If we want to totally be rid of the concept of the partials, we can add a new option for rendering individual items in content collections by adding a `/www/collections` directory in liu of the magic `_sectionName.html` partials.

In `/www/collections` you would provide html files whos name match the name of a repeating section. Because of the naming convention, we can automatically wrap

[2019-10-30 09:25] amiller-gh opened #158 "Feature: Templated Page Creation In Dashboard"
## Problem
Vapid's data model is restrictive for users that need the ability to create new standalone pages for their site. From the dashboard, users should be able to:
 - Create new pages using page templates
 - Create new collections of content to display on a page.

## Proposed Solution
With a few small changes to the internal data model, we can enable these two features while maintaining full

[2019-10-30 09:26] amiller-gh commented on #158
Wrote a novel 😅 Didn't know how else to present the idea though! Let me know any thoughts – I think this could be a powerful addition to the platform.

[2019-10-30 09:31] amiller-gh commented on #158
Simple dashboard side menu concept that could accommodate this change. Would obvs need to mock out a `Page` and `Collection` creation flow / settings menu so users can set the page name and select the associated template.
<img width="236" alt="Screen Shot 2019-10-30 at 12 23 25 AM" src="https://user-images.githubusercontent.com/7856443/67845483-c8baed00-fabc-11e9-91e5-438ff5a65446.png">

[2019-10-30 18:12] amiller-gh commented on #157
100% understand the need to have a default deploy strategy, and to walk that line between open source and enterprise software 🙂

I see three options here to incentivize Vapid as the default deploy strategy for new projects:
1. We can bake the default `vapid deploy` into the main codebase as it is now
2. We can have the main codebase depend on a `@vapid/vapid-deploy that will function like the plug

[2019-10-30 19:45] amiller-gh commented on #154
Mmm, this is a good feature addition. It will be especially needed if we get something like #158 or custom page slugs for collection records. How would you envision the API looking?

Side note – if pages and collection records get a more opinionated "settings" panel (mentioned at the end of #158 and in #8, we may want to add social media metadata config options on a per-page and per-post basis. Th

[2019-10-30 20:08] amiller-gh commented on #60
This concept is touched upon in a new way over in #158 🙂

By pulling out pages into a top-level concept, the `{{#section collectionName multiple=true}}` (or `{{#collection collectionName}}`...) blocks essentially become just another field time to display in the dashboard where you can select the collection you want to display on that specific page. As I mention later in the proposal, you could the

[2019-11-02 09:33] nsrosenqvist commented on #154
Personally I'd simply want the request information to be made available in a global variable, containing full request url, base url, host and scheme, or a function that allows you to retrieve the absolute url for an asset.

[2019-11-03 03:16] amiller-gh commented on #158
@srobbin, began playing with this over in https://github.com/amiller-gh/vapid/pull/1 🙂 It feels really good... and is fully backward compatible! You should be able to pull down and play with any existing site (back up the DB first though).

[2019-11-03 12:17] srobbin commented on #154
I agree. Maybe something like a `{{_request}}` tag, which exposes _some_ of the [Koa.js request variables](https://koajs.com/#request) (e.g., host, path, origin, query).

So you could end up doing something like:

[code]

[2019-11-03 12:38] srobbin commented on #158
@amiller-gh This is really interesting, but I'm a little hesitant off the bat and need some time to digest. The biggest reason is that right now there's a clear separation of concerns: site structure is controlled by those who have access to the templates, and the dashboard is for editing pre-determined content. Giving dashboard users the ability to add pages blurs that line.

I agree that the cur

[2019-11-03 17:00] amiller-gh commented on #158
I think there's a lot of good in that experimental PR even if we don't allow the ability to create multiple pages beyond the default created ones – the ability to reason about page-scoped values is a mental model that I think will resonate with clients more. Ex: You're not editing the "Company Description" section that may or may not be used elsewhere on the site, your editing the "About Us" page.

[2019-11-03 17:05] amiller-gh commented on #158
(Also, PR is very experimental still – section sorting / limit directives aren't implemented, tests won't pass, the `@data` page meta aren't implemented, and there are likely a slew of other bugs – but its a good conversation starter! 😄)

[2019-11-13 04:21] srobbin commented on #9
This just shipped in v0.9.0. To update: `npm install -g @vapid/cli`

A huge thank you to @amiller-gh for adding this feature. It's a great addition to Vapid, and I'm grateful for his hard work.

[2019-11-13 04:21] #9 closed

[2019-11-14 15:25] jeremieemk commented on #144
Are you planning on fixing this one? Thanks

[2019-11-14 15:29] jeremieemk commented on #144
Hey great work with Vapid, i have the same issue for a client's project and i was wondering if there is a schedule or a workaround for this issue?

[2019-11-14 20:24] walidvb commented on #144
@jeremieemk if the columns are shown in the order of appearance in the html, does using a 'ghost' version work?

[code]

[2019-11-14 21:09] #144 closed

[2019-11-14 21:26] srobbin commented on #144
Just published a fix for this in v0.9.1. The section index table should now respect the `priority` attribute. To update to the latest version:

[code]

[2019-11-19 21:53] trst opened #161 "Add an `else` tag to template logic"
**Is your feature request related to a problem? Please describe.**
It would be helpful to provide a fall back when using the `{{#if}}` tag. For example, I would like my blog post headers to link directly to source material if there is a link present, falling back to the section permalink when there is no link provided.

**Describe the solution you'd like**
Something along the lines of...

[code]

[2019-11-20 06:34] employee451 commented on #161
This is already possible with the use of the `{{unless}}` tag. It is used exactly like the if tag, only with the opposite logic. This is handy since you don't need an if tag if you want to do something when there aren't any records. This is possible with the unless tag. Hope this helps.

[2019-12-16 19:44] conjack27 opened #162 "WSIWYG editor not allowing images"
**The issue**
Have added an HTML content type and want to add images. Have added "images=true", but it does not have the option to in the editor when in the Dashboard.

[2019-12-18 22:01] srobbin commented on #162
@conjack27 What version of Vapid are you using?

[code]

[2019-12-19 12:03] conjack27 commented on #162
@srobbin vapid 0.9.2

[2019-12-22 22:53] Hadr619 commented on #139
Would there happen to be any updates on this issues? I've noticed this as well, would love a fix for this to add a message if no assets

[2019-12-23 03:34] fieglek commented on #139
Nope. Never got a fix. Looks like no one is working on Vapid anymore.

On Sun, Dec 22, 2019, 4:53 PM Hadr619 <notifications@github.com> wrote:

[2019-12-29 20:35] srobbin commented on #162
@conjack27 Strange. When you have a moment, can you please reply with:

1. Some more details about your environment: OS, Node version, browser
2. A screenshot of the WYSIWYG editor
3. A snippet of the template that creates the content type

[2019-12-30 13:53] employee451 opened #163 "Production server returns empty JSON object"
**Describe the bug**
When the `NODE_ENV` environment variable is set to 'production', vapid sometimes returns an empty JSON object.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `vapid new testsite`.
2. Rrun `cd testsite`.
2. Run `NODE_ENV=production npm start`.
3. Go to `localhost:3000` in the browser.

On first load, the server will often return an empty JSON object as the response,

[2019-12-30 14:55] srobbin commented on #139
@fieglek Vapid is still being worked on, just at a slower pace this time of year.

Would either of you be interested in helping to troubleshoot and submit a PR?

[2019-12-30 14:58] srobbin commented on #163
@employee451 Thanks for submitting this. I'm able to reproduce the bug too. I'll look into it.

[2019-12-30 16:32] fieglek commented on #139
Oh awesome, thought it had been abandoned, good to know you are still working on it! Thanks for that.

[2020-01-03 16:02] employee451 commented on #163
No problem :)
I think it has something to do with the caching.
The bug only occurs when the 'cache' value of the "Default options" object is true in /lib/runners/Vapid.js. Caching is enabled when this.isDev is false.

[2020-01-03 18:42] employee451 commented on #163
This bug should be fixed in PR #166.

In this PR, I fix the bug by checking whether the cache has been set (and setting it, if it hasn't been set) before assigning anything to ctx.body.

[2020-01-03 20:07] srobbin commented on #152
Fixed in #165

[2020-01-03 20:07] #152 closed

[2020-01-03 21:08] srobbin commented on #163
Resolved in #166 and 2bab58c1bb21f7eb4928ef8fd7dc40bf3da26a31

[2020-01-03 21:08] #163 closed

[2020-01-19 10:34] employee451 opened #167 "500 error on multiple section required=false images"
**Describe the bug**
When saving a multiple section record with an image field that has `required=false` set, a 500 "Internal Server Error" is returned.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new site: `vapid new testsite`
2. Add the following somewhere on `www/index.html`:

[code]

3. Start the server `vapid start testsite`
4. Go to `localhost:3000/dashboard` and create a

[2020-01-20 16:34] #167 closed

[2020-01-20 16:36] srobbin commented on #167
@employee451 Thanks for letting me know about this. Just published v0.9.4 with a fix. To update:

[code]

[2020-01-23 00:51] KeizerDev opened #169 "Response code 500 vapid deploy"
Hi,

I am getting a 500 Error when trying to deploy vapid. I think it has something to do with my credentials but I can't find the config file where this is stored.
[code]

Thanks in advance

[2020-01-23 18:11] srobbin commented on #169
@KeizerDev I'm so sorry to hear that. Can you please email me at hello@vapid.com? I can help troubleshoot there.

[2020-01-23 18:11] #169 closed

[2020-01-23 19:42] employee451 commented on #167
Great, thanks a bunch for this

[2020-02-04 19:41] #157 closed

[2020-02-08 13:16] #154 closed

[2020-02-08 17:16] #158 closed

[2020-02-14 09:45] JohJakob opened #171 "Querying multiple records from same section does not work"
In Vapid **0.9.0** to **0.9.4**, a bug reappears that was solved in version 0.8.4 (see issue #34 and  pull request #146).

In my case, I have got a navigation menu partial `_nav.html` that gets populated with records from multiple sections and looks like this:

[code]

On `index.html`, the whole menu displays all records from the sections, but on any detail page of these sections, the list with th

[2020-02-14 16:46] #171 closed

[2020-02-14 16:47] srobbin commented on #171
@JohJakob Good catch, thank you. I just pushed v0.9.5 which reintroduces the fix.

[2020-02-14 17:07] JohJakob commented on #171
@srobbin That was quick! Thanks a lot!

[2020-02-19 19:15] conjack27 commented on #162
@srobbin sorry for late reply. This was solved by creating a new vapid project and then transferring the  html and css files over

[2020-02-19 19:15] #162 closed

[2020-02-25 12:40] #161 closed

[2020-02-27 21:21] afboteros opened #172 "Ignore tag for using JS frameworks along with Vapid"
Hi,

There is a way on Vapid to specify that it should ignore a tag?, if you try for example to use Angular (or any other JS framework) along with Vapid, how do you split Angular brackets from Vapid's?

Thanks.

[2020-02-27 21:27] srobbin commented on #172
Right now, Vapid doesn't have a way to change the brackets to something else, but thankfully Angular does:

[code]

[2020-02-27 21:34] afboteros commented on #172
I think that's AngularJS (v1) syntax, isn't it?, i will take a look for Angular 4> syntax for it.

[2020-02-27 21:41] srobbin commented on #172
Ah, sorry, you're right. I haven't used Angular for a long time. I'm not sure what the current syntax is.

[2020-03-02 09:02] jinanjun opened #173 "The dashboard.js file need to optimize"
How to optimize the dashboard.js  file?
It's really big size. ( 1MB )
The page waits a long time to requested.

![image](https://user-images.githubusercontent.com/1175899/75660748-16cc4100-5ca7-11ea-8202-e8f87b3db528.png)

[2020-03-10 10:00] JohJakob commented on #55
Hello @srobbin! Could you reopen this issue please? I would like to do exactly what @Jack89ita wanted to do on the custom error page. The website visitor should be able to access things like a dynamic navigation menu or the footer from the 404 error page. With the current solution, the developer is forced to update that every time a change is made to it in the dashboard.

[2020-03-15 22:08] makitsune commented on #20
I just had this same problem using Node v12.16.1
`npm i -g --unsafe-perm @vapid/cli` worked for me

[2020-03-16 08:56] JohJakob opened #174 "Bug: WYSIWYG Editor not working in Chrome and Firefox"
In Google Chrome/Microsoft Edge and Mozilla Firefox, the WYSIWYG editor is not working. It gets displayed without the toolbar and the content is not editable.

**To Reproduce**

Steps to reproduce the behavior:

1. Open a website’s Vapid dashboard containing a WYSIWYG editor in Google Chrome/Microsoft Edge or Mozilla Firefox

**Expected behavior**

The WYSIWYG editor shows the toolbar and its cont

[2020-03-19 13:16] JohJakob opened #175 "Bug: Reordering Sortable Posts not updating in Dashboard"
When reordering sortable posts in the dashboard, the website updates accordingly, but the list in the dashboard will revert to the previous order when refreshed. However, the order on the rendered page will not revert.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the dashboard
2. Go to a section with sortable posts
3. Reorder the posts
4. View the rendered page
5. Refresh the dashboa

[2020-03-19 13:35] jonasNobile commented on #175
Same problem.

**My Environment is**

- OS: Ubuntu 18.04
- Browser: Safari 13.0.5, Firefox Developer Edition 75.0b5
- Node Version: 10.19.0
- Vapid Version: 0.9.5

[2020-03-24 20:47] JohJakob commented on #139
Until the issue is fixed, you can use this workaround:

[code]

Instead of putting the section name into the `#if` and `#unless` conditions, use a template tag of the section. However, this only works if the template tag is required to ensure that it has a value in each section record. The `#unless` condition also needs to be inside the `#section` block.

[2020-03-25 19:00] spsaucier-bakkt commented on #134
Upgrading to latest didn't fix the issue for me.

[2020-03-25 19:43] spsaucier-bakkt commented on #134
I'm getting around it for now by pasting an embed code into a `type=text` field and then using this to unescape it:
[code]

[2020-03-26 14:17] srobbin commented on #175
Thanks for letting me know. I'm a bit overloaded with personal things right now, so I may not be able to get to this for a bit. Would either of you be willing to help jump in and submit a pull request?

[2020-03-26 17:46] JohJakob commented on #175
I’ve never worked on a Node.js project before, but I’ll try my best to find and fix the bug.

[2020-03-27 12:33] JohJakob opened #176 "Bug: #unless gets ignored on Production Server"
When the Vapid server is started in the production environment, the `#unless` template tag will be completely ignored. In the development environment, it works as expected (except for #139).

**To Reproduce**
Steps to reproduce the behavior:
1. Start the Vapid server in the production environment (e. g. by using PM2 on a web server)
2. Navigate to a page with an `#unless` template tag

**Expected

[2020-03-28 18:07] walidvb commented on #171
Hi @srobbin are you planning on releasing it to the vapid hosting soon? Thanks!

[2020-04-01 12:46] JohJakob commented on #174
Please see #178 for the fix.

[2020-04-02 21:41] #174 closed

[2020-04-02 22:31] srobbin commented on #171
@walidvb Sorry about that, it should be up there now.

[2020-05-07 09:24] chwzr opened #180 "Feature request: Use Babel Loader in Webpack Config to Support React / Typescript"
I recently needed to integrate React Components in a Vapid Project to add interactivity.
Thus I needed to add the Babel Loader to Vapids Webpack Config.

"Babel is a tool that helps you write code in the latest version of JavaScript." - [babel](https://github.com/babel/babel)
Transpiling latest ES2015 JS Code to a more compatible version is mandatory in these days.

When [babel-loader](https://git

[2020-05-07 09:50] JohJakob commented on #180
This sounds like a really nice feature. Vapid’s simplicity would still be maintained while one could extend its functionality if they want to.

[2020-05-24 08:45] JohJakob opened #181 "Bug: Timestamps not working"
The timestamp template tags `{{_created_at}}` and `{{_updated_at}}` are not working. On the rendered page, they are displayed as `{{section_name::_created_at}}` and `{{section_name::_updated_at}}`.

**To Reproduce**
Steps to reproduce the behavior:

1. Add `{{_created_at}}` or `{{_updated_at}}` to a `{{#section}}` block
2. Visit the rendered page

**Expected behavior**
`{{_created_at}}` should ret

[2020-05-24 16:15] Voydfox commented on #12
Just picked up Vapid, looking to implement it into a couple projects I'm working on. I too was hoping for the ability to nest sections, has any thought been put towards it? Thanks! <3

[2020-05-27 20:52] Voydfox commented on #6
I'm working on a project right now in VAPID and got to a point where I needed this only to find out it's not possible. Dang! VAPID is pretty slick, would love to see this implemented. <3

[2020-05-28 21:54] srobbin commented on #181
@JohJakob Is this before or after you add posts to the section in the dashboard?

[2020-05-28 22:09] Voydfox commented on #181
I'm having the same issue.

**Your Environment**

- OS: Windows 10
- Browser: Chrome Version 83.0.4103.61
- Node Version: 8.11.1
- Vapid Version: 9.9.6

[2020-05-29 07:25] JohJakob commented on #181
@srobbin It happens after I add posts to the section.

[2020-05-29 14:29] #181 closed

[2020-05-29 14:46] srobbin commented on #181
@JohJakob, @Voydfox Thank you. It looks like it was [a known bug with Sequelize](https://github.com/sequelize/sequelize/issues/11225#issuecomment-527405636) that had an easy workaround. Try upgrading to Vapid v0.10.0 and let me know if it's fixed.

_Note: Vapid v0.10.0 now requires Node >= v10, since Node v8 was end-of-lifed in December._

[2020-05-29 14:53] srobbin commented on #180
@chwzr I'd love this feature too, and would very much welcome a PR. Thank you.

[2020-05-29 15:09] Voydfox commented on #181
@srobbin it works, thank you kindly! <3

[2020-06-05 04:32] #172 closed

[2020-06-10 10:27] geeworthington commented on #6
@Voydfox - The functionality is there dude..

Check the documentation.

`<ul>
  {{#section offices multiple=true}}
    <li>
      <h5><a href="{{_permalink}}">{{name}}</a></h5>
      {{city}}, {{state}}
    </li>
  {{/section}}
</ul>`

[2020-06-10 11:38] JohJakob commented on #6
I would appreciate a `multiple` parameter for the image content type and maybe for the text content type as well. Making a separate section for, let’s say, an image gallery seems counterintuitive. The `multiple` parameter could tell Vapid to render an unordered list. This would be really helpful if you’re making a portfolio website for example.

[2020-06-11 13:41] walidvb commented on #6
@geeworthington this is for multiple sections, this thread is about having multiple fields. So, offices would be a `{#section multiple}`, but would have a list of `{employees multiple}`, see?

[2020-07-02 03:44] #175 closed

[2020-07-03 03:52] #176 closed

[2020-08-07 10:42] bitterbit opened #184 "Rendering a html page doesn't work anymore without extension suffix"
**Describe the bug**
Let's say I have a vapid website with a full html page for my blog.
When previewing it one could use `/blog.html`  or `/blog` interchangeably.
As of the master branch today, the latter doesn't work.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a vapid site
2. Add an additional html page to the website
3. preview it and surf to `/page`, See that Template not fou

[2020-08-07 10:59] srobbin commented on #184
Resolved in #185

[2020-08-07 10:59] #184 closed

[2020-08-09 08:57] JohJakob commented on #176
See #186

[2020-08-09 14:50] JohJakob commented on #139
See #186

[2020-08-09 21:00] srobbin commented on #139
Fixed in #186

[2020-08-09 21:00] #139 closed

[2020-08-10 19:42] JohJakob commented on #176
Fixed in #186

[2020-08-20 09:43] JohJakob opened #187 "Bug: #unless for section always rendered in development environment"
In the development environment, the `#unless` block for a section will always be rendered, even if the section has records. This bug was introduced when I fixed a bug (#186) where the `#unless` block for an empty section would not be rendered in the production environment.

Example:

[code]

If the section `posts` has records, this will render:

[code]

**To Reproduce**
1. Use `{{#unless section}}

[2020-08-20 18:23] bitterbit opened #189 "Bug: Resized pictures are not resized after `vapid build`"
**Describe the bug**
When specifying width or height to an image directive in my html, the server serves a resized image according to the specified width and height but when building using `vapid build` no resizing happens.

I am not sure if this was ever implemented or was regarded as the responsibility of an image CDN, but i think this is could be very useful, in my case correct resizing can red

[2020-08-29 13:44] bitterbit opened #193 "Bug: image cache middleware doesn't cache images"
**Describe the bug**
Image processing middleware expects a folder named cache inside data folder of the vapid site, if missing `writeFile(cachePath, buffer, Utils.noop);` will fail without any error or exception

**Expected behavior**
Cache folder will be created if missing and cached images will be saved in it.

[2020-09-05 15:06] #180 closed

[2020-09-10 07:42] #193 closed

[2020-09-28 18:26] TheCrafters001 opened #195 "Template Not Found when BrowserConfig.xml is present."
**Describe the bug**
Template Not Found (404) when BrowserConfig.xml is present for FavIcons

**To Reproduce**
Steps to reproduce the behavior:
1. Create a file called "browserconfig.xml" in the WWW folder
2. Attempt to build
3. See error

**Expected behavior**
Copy to dist folder.

**Your Environment**
Include relevant details, so others can replicate the issue.
 - OS: Windows 10
 - Browser: Chro

[2020-10-01 14:01] JohJakob commented on #195
Thank you for the report. Did you use Vapid template tags in the `BrowserConfig.xml` or is just a plain static file?

[2020-10-01 17:01] TheCrafters001 commented on #195
It was a plain static file.

[2020-10-02 14:03] dking3876 opened #196 "Custom Configrations with .env"
Using configurations for providing directory path for custom directives to add new inputs.

- color picker
- file upload (pdfs)

In conjunction the ability to configure image/file upload paths (in .env and as option per field) rather than hard coded uploads/ dir  in lib/directives/image.js on line 48 and 75 to provide greater flexibility.

[2020-10-24 07:56] reswitchtech opened #198 "Relationships between "sections""
Closing issue, reposting from individual account

[2020-10-24 07:57] #198 closed

[2020-10-24 07:58] Saunved opened #199 "Relationships between "sections""
**Is your feature request related to a problem? Please describe.**
One of the issues I am currently facing is managing relationships between data. E.g. Suppose I have a many-1 course-teacher mapping. It would be nice to get the teacher information along with a course and vice-versa.

**Describe the solution you'd like**
Section tags could get a relation key-value pair, such as this:
[code]
And the

[2020-10-28 15:04] Saunved commented on #19
Hi @srobbin
Is this feature currently being worked on?

[2020-10-29 14:15] srobbin commented on #19
@Saunved No, it's not currently being worked on. Are you available to help implement it?

[2020-10-29 14:27] Saunved commented on #19
@srobbin Yup, I'd love to help. I went through the comments above. I'll familiarise myself with the source code a bit and keep you updated here once I fork the project and start coding.

[2020-10-29 14:31] srobbin commented on #19
@Saunved Thank you! Let me know if you have any questions along the way.

[2020-10-29 16:14] Saunved commented on #19
@srobbin I went through parts of the source code. Is there any "developer's guide" or any quickstart for devs that you can lead me to so I can get an overview of how to develop and test Vapid locally? That'd be really useful (for me and others like me). Thanks!

[2020-12-04 22:13] #187 closed

[2020-12-04 22:13] #189 closed